[2017-11-13 14:58] simitt opened #9 "Test version compatibility"
Support testing different versions against each other.
- Test `agent` versions against `apm-server` versions
- Test `apm-server` versions against `elasticsearch` and `kibana` versions

As a minium current `master` versions and versions according to [official support matrix](https://www.elastic.co/support/matrix#matrix_compatibility) should be tested against each other.

Tests should work with a lo

[2017-11-13 15:00] simitt opened #10 "Setup tests on Jenkins"
Create Jenkins setup to automatically run tests.

Start out with a daily run of the full testsuite.

Finetuning can be done later, so that e.g. version compatibility is checked as soon as something gets merged to a specific version.

[2017-11-13 15:01] simitt opened #11 "Add Selenium support to tests."
Check out selenium support on Jenkins and available plugins.

Build basic selenium test structure.

Add selenium tests for dashboards.

Add selenium tests for curated UI.

[2017-11-13 15:03] simitt opened #12 "Add x-pack security support"
Add x-pack support for testing with ES and Kibana.

[2017-11-13 15:04] simitt opened #13 "Add agent tests for different apm-server config."
Add tests for using TLS and secret token.

[2017-11-28 09:17] #10 closed, assigned to simitt

[2017-11-28 09:19] simitt opened #27 "Test Installation of APM Server on different platforms"
Figure out where to put those tests:
- https://github.com/elastic/beats-tester
- directly into apm-integration-testing: either request a windows slave for jenkins or use vagrant or ignore windows and mac for now and only automate linux based installations
- https://github.com/elastic/elastic-stack-testing

[2017-11-28 09:57] simitt opened #29 "Remove flask standard server"
Always use gunicorn because there is no real value in testing with both.

[2017-11-29 07:49] simitt opened #30 "Add Tests for Errors"
Currently only transactions are sent and checked

[2017-11-29 07:49] simitt opened #31 "Integration Testing - Add support for ruby agent."

[2017-12-12 15:57] simitt opened #37 "Add json schema validation tests for agents"
Check out the json specs from the server and test the agent payload that is sent against those specs in a strict manner.

Discuss wheter these tests should be here or in the single agent repositories.

[2017-12-26 17:30] graphaelli opened #41 "Trigger on pushes to apm-server and agents"
and any of the agents?

[2018-01-04 17:22] graphaelli opened #44 "Run elasticsearch & kibana 6.2"
right now we're testing 6.x or master apm-server & agents with 6.1.1. es & kibana.

[2018-01-08 14:27] simitt opened #46 "Integration Testing - Add basic support for frontend js agent"

[2018-01-08 15:17] graphaelli opened #47 "docs for running selenium based tests"

[2018-01-11 14:28] #44 closed, assigned to nobody

[2018-01-24 16:37] simitt opened #53 "Make repository public."

[2018-01-24 16:43] simitt opened #54 "Make use of local testing setup"
Figure out what the best way is to make use of the local testing setup and eventually merge the docker setup configurations.

[2018-01-29 15:17] #9 closed, assigned to simitt

[2018-02-07 15:59] #37 closed, assigned to nobody

[2018-04-19 12:14] jalvz opened #58 "use docker setup from apm-dev/localtesting"
https://github.com/elastic/apm-integration-testing/issues/54

[2018-04-27 13:19] #11 closed, assigned to nobody

[2018-04-27 13:23] graphaelli opened #60 "test oss artifacts"
everything should still work except:
* kibana templates should not load
* no monitoring
* ui should be disabled

[2018-05-07 09:26] simitt opened #61 "Update test versions for python agent"
Update versions and excluded version combinations for the python agent here:
- https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/python.yml
- https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/python_exclude.yml

See versions of apm-server that are tested:
https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/apm_server

[2018-05-07 09:28] simitt opened #62 "Update test versions for nodejs agent"
Update versions and excluded version combinations for the nodejs agent here:

https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/nodejs.yml
https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/nodejs_exclude.yml

See versions of apm-server that are tested:
https://github.com/elastic/apm-integration-testing/blob/master/tests/versions/apm_server.ym

[2018-05-07 12:31] #62 closed, assigned to watson

[2018-05-15 11:59] simitt opened #67 "Add missing attribute checks for transactions and spans"
The test checking for attributes and their values has never been adopted when new information was added to the agents and the server.
Missing attribute checks should be added.

[2018-05-15 13:28] #61 closed, assigned to beniwohli

[2018-05-17 08:49] #31 closed, assigned to mikker, simitt

[2018-05-22 06:42] #58 closed, assigned to jalvz

[2018-05-22 09:29] simitt opened #73 "Investigate flaky tests for python agent."
After fixing some bugs and after merging a version update PR for the python agent tests became flaky for the python agent, see e.g. https://apm-ci.elastic.co/job/elastic+apm-integration-testing+master+multijob-python-agent-versions/205/.

`tornado` is used to send concurrent requests to the example apps. This works fine with other agents and apps, but for the python apps we do receive `500` respon

[2018-05-22 13:40] jalvz opened #74 "Add tests for java agent"
fyi @felixbarny i'm on this, will ping you eventually for review

[2018-05-28 12:48] alvarolobato commented on #74
Related to https://github.com/elastic/apm-agent-java/issues/55

[2018-06-05 16:48] graphaelli opened #80 "make force build skip docker cache"
While using the docker cache changes in agent repos do not trigger container image rebuilds.

`--force-build` currently adds the `--build` option to `docker-compose up` - that does not skip the docker cache.  Add an extra step to `docker-compose build --no-cache` when `--force-build` is enabled.

[2018-06-05 19:32] graphaelli commented on #73
reproduced this post #77 -

[code]

trying to track it down

[2018-06-05 19:48] graphaelli commented on #73
I can't prove it yet but I think the flask development server just isn't keeping up sometimes.  Lowering max_clients from 4 to 2 seems to make these tests pass consistently.

@beniwohli any thoughts on whether that's likely the cause / how to prove it or alternatives for solving the problem?

[2018-06-05 20:27] graphaelli commented on #73
I take that theory back.  With flask in debug mode, the body of the first failed request is:
[code]

[2018-06-05 20:57] beniwohli commented on #73
@graphaelli That's quite possibly a bug in the agent. It probably shuts down the agent before the timer thread started, and the shutdown logic unconditionally tries to join that timer thread... At least that's what I'm guessing from that stack trace. I'll have a closer look tomorrow, feel free to open an issue in the meantime

[2018-06-05 21:30] graphaelli commented on #73
That's what I was worried about.  https://github.com/elastic/apm-agent-python/issues/222 opened.

[2018-06-06 01:28] graphaelli commented on #73
#84 seems to resolve this flakiness but I'm not clear on whether it's working around a bug in the agent, a bug in the flask development server (werkzeug.serving), or something else.

[2018-06-06 11:47] beniwohli commented on #73
I get a whole lot more failures when running the commands from https://github.com/elastic/apm-integration-testing/issues/73#issuecomment-394832586, and it's nigh impossible to tell why, the tests just dump thousands of lines of timeout related messages into my console

[2018-06-06 11:56] jalvz commented on #73
same here, didn't have time to look more at it yet

[2018-06-06 14:04] graphaelli opened #87 "reduce verbosity when tests fail"
as mentioned in #73 and seen countless times in CI results.

[2018-06-06 14:05] graphaelli commented on #73
The errors are quite verbose when the tests fail, #87 opened to at least track fixing that.

Closing this one out since #84 landed.  We can reopen if a trend reemerges.

[2018-06-06 14:05] #73 closed

[2018-06-06 14:05] graphaelli commented on #54
resolved by #77

[2018-06-06 14:05] #54 closed

[2018-06-06 14:06] graphaelli commented on #29
resolved by #84

[2018-06-06 14:06] #29 closed

[2018-06-06 14:07] graphaelli commented on #12
@simitt I don't recall the original intention here, does this mean with x-pack security enabled?

[2018-06-11 08:44] simitt commented on #12
@graphaelli yes the idea was to also test with an x-pack secured stack.

[2018-06-12 08:45] beniwohli commented on #73
Looks like the Python tests now pass again with some regularity https://apm-ci.elastic.co/job/elastic+apm-integration-testing+master+multijob-python-agent-versions/

[2018-06-12 19:41] graphaelli opened #96 "reuse image-dir between builds"
currently using the default, `scripts/.images` - that's wiped between runs

[2018-06-14 13:45] graphaelli opened #98 "[APM-CI][Integration test] add nice status summary"
like we used to have

[2018-06-25 06:41] axw opened #109 "Add opbeans-go"
- [x] finish opbeans-go
- [ ] add to compose generator

[2018-06-25 11:07] formgeist commented on #46
@simitt is this an issue to simply add JS agent support (along with opbeans-react) to the integration testing setup? cc @jahtalab

[2018-06-25 19:25] #53 closed, assigned to nobody

[2018-06-26 07:43] formgeist commented on #46
It's added now https://github.com/elastic/apm-integration-testing/pull/110#event-1699542711 or does this issue include testing as well?

[2018-06-26 07:58] jahtalab commented on #46
I have created this [issue](https://github.com/elastic/apm-agent-js-base/issues/10) to keep track of this task, so far we run the tests in Travis against apm-server Docker image. I am planning to use the same tests in the integration testing.

[2018-06-27 11:37] graphaelli commented on #80
closed by #113

[2018-06-27 11:37] #80 closed

[2018-06-28 15:45] graphaelli opened #116 "add options for elasticsearch license management"
When starting a stack on 6.2, Elasticsearch comes with a platinum trial license.  As of 6.3, the basic license is the default.

Proposal: default to platinum trial license in 6.3+, making the behavior consistent and provide an option to start without that license.

[2018-06-29 17:06] #116 closed

[2018-07-02 06:59] formgeist opened #119 "Add table of agents available and their respective options in README"
Would be great to get an overview of the agents available, and their respective options. Also perhaps those packages or options which are required to include when booting up the environment.

[2018-07-03 01:37] #109 closed

[2018-07-06 14:53] alvarolobato opened #124 "Clarify readme on how to run Opbeans sample apps"
It is not clear which requirements are needed to run the Opbeans apps, the readme says you need `make env` and virtual env but in theory is not needed.

We should have really clear instructions on how to run only opbeans maybe even separate them given that most of the people will only be running these.

[2018-07-16 09:23] jalvz opened #132 "--no-elasticsearch flag doesn't work"
Error:
Service 'apm-server' depends on service 'elasticsearch' which is undefined.

[2018-07-16 10:44] jalvz opened #133 "Intermittent failures in concurrency tests"
This is independent of agents, in my local concurrent tests fail 80-90% of the times

[2018-07-16 15:08] jalvz commented on #133
I think this was caused by having less than 10% free disk space, looks like is working now for me.
We'll do a few more tests to make sure

[2018-07-17 14:20] graphaelli commented on #132
Should this work or not be an option?

[2018-07-17 14:30] graphaelli opened #134 "Run older builds against matching release"
6.2 snapshots are no longer produced but we want to ensure some agents are still compatible with a 6.2 stack.  version tests currently only run against snapshots - let's make them optionally work with releases.

[2018-07-17 14:31] jalvz commented on #132
would be nice if it works, but i guess that is somewhat complicated (or at least more complicated than not allowing it)

do you think is fine to not allow it?

not high prio any case

[2018-07-17 14:41] graphaelli commented on #132
Agreed, would be nice if it works and shouldn't be a big effort, similar to our `disable_apm_server` checks in the agents.

[2018-07-17 15:05] #133 closed

[2018-07-25 12:28] beniwohli opened #144 "Unified opbeans load generator service"
Instead of having a load generator for each service, we'd like to have a single service that generates load on a configurable list of services

- [ ] image that takes a list of base URLs to generate load on
- [ ] flags in `compose.py` for each opbeans service, e.g. `--load-gen-python`, `--load-gen-go`
- [ ] ensure all opbeans services listen on internal port 3000
  - [x] node
  - [x] python
  - [

[2018-07-30 11:20] #74 closed

[2018-08-03 02:10] graphaelli opened #161 "make dashboard loading depend on kibana"
If kibana is not started, disable/don't enable dashboard loading for apm-server, filebeat, and metricbeat.  Right now [in apm-integration-testing] apm-server doesn't load dashboards by default because of this dependency handling.  Likewise, filebeat and metricbeat will not start without kibana since they are always set to load dashboards.

[2018-08-04 20:10] graphaelli commented on #87
closed by #129

[2018-08-04 20:10] #87 closed

[2018-08-04 20:11] graphaelli commented on #47
note that these were disabled in #155

[2018-08-06 18:01] #161 closed

[2018-08-07 13:05] #46 closed

[2018-08-31 12:33] beniwohli commented on #144
Closing, as this is in apm-integration-testing and seems to work well enough

[2018-08-31 12:33] #144 closed

[2018-09-03 18:09] formgeist opened #171 "Docker issues? Shard failures, not being able to see transactions data in Discover"
Not sure if it's my local docker getting corrupted or if it's a new issue, but it seems that Discover won't load any data when filtered. It's especially evident when opening transaction sample data in Discover (like the link we have on the Transaction detail pages)

<img width="1208" alt="screen shot 2018-09-03 at 20 02 49" src="https://user-images.githubusercontent.com/4104278/44998312-c3473d00-a

[2018-09-03 19:13] sqren commented on #171
I was also seeing this on our GCP instance. I think Elasticsearch has somehow gotten into a bad state. Not sure whether the docker container should be able to avoid that happening, or it is an ES bug.

Did you try to wipe all containers and images?

[2018-09-03 19:16] sqren commented on #171
[code]

[2018-09-03 19:39] formgeist commented on #171
I did and the problem persists.

man. 3. sep. 2018 kl. 21.16 skrev Søren Louv-Jansen <
notifications@github.com>:

--
Casper Hübertz
Senior Product Designer @ Elastic APM
elastic.co

[2018-09-04 17:34] graphaelli commented on #171
Deleting that scripted field through the kibana management ui restores the `view transaction in Discover` functionality.

[2018-09-05 06:50] formgeist commented on #171
@graphaelli Great job getting to the bottom of this. Did you want to move this issue to the apm-server repo?

[2018-09-05 06:54] simitt commented on #171
@graphaelli is this a problem with our Docker setup or a real world issue? We need the scripted fields for the dashboards and they haven't changed in a while.

[2018-09-05 15:17] graphaelli commented on #171
@formgeist @sqren says we should move this to the kibana repo.  We'll make sure this gets linked to that issue.

@simitt This only affects master in my testing.  The query generated by discover is mostly identical (`default_field` was removed in master), it seems elasticsearch 7.0 no longer tolerates the missing field value.

[2018-09-05 15:17] #171 closed

[2018-09-11 19:26] graphaelli opened #173 "disable opbeans loadgen when no services need it"
`compose.py --with-opbeans-python --no-opbeans-python-loadgen` should realize that no services need load generation and prevent addition of the service.  Currently, we end up with a service with empty `OPBEANS_URLS` instead.

[code]

[2018-09-11 21:42] graphaelli opened #176 "build failures"
Lots of build failures lately:

[code]

apm-server is not coming up properly:
[code]

The kibana healthcheck isn't holding apm-server back long enough for kibana to really be available.

[2018-09-11 21:46] graphaelli commented on #176
Ideally the kibana healthcheck would be better.  In the meantime, #177 is something that should be done anyway and may reduce the urgency on this bug.

[2018-09-12 14:32] graphaelli commented on #176
closed by #178

[2018-09-12 15:35] #176 closed

[2018-09-14 19:54] graphaelli opened #180 "upload-sourcemap command broken"
It doesn't appear to have been updated since the unification with localtesting.  It should upload the right file with the right parameters by default.  Those appear to be:

[code]

[2018-09-16 14:39] graphaelli commented on #124
see https://github.com/elastic/apm-integration-testing/blob/master/QUICKSTART.md

closed by #179

[2018-09-16 14:39] #124 closed

[2018-10-09 12:03] #132 closed

[2018-10-09 12:03] #180 closed

[2018-10-15 11:48] simitt opened #193 "Update test matrix for v2 changes"
After merging https://github.com/elastic/apm-server/pull/1425 all the version tests against `apm-server master` will fail until the agents have merged back their `v2` changes. Ensure test matrix reflects the state and is updated.

[2018-10-15 20:21] graphaelli opened #194 "add apm-server queue options"
Default to disk spool queue by default but allow for mem queue to be selected with a command line option.

[2018-10-17 11:36] beniwohli opened #196 "Opbeans: implement randomized distributed tracing"
To have somewhat realistic test data for the UI, the Opbeans services should implement distributed tracing amongst each other. The plan is as follows:

 * when using `compose.py`, an environment variable, `OPBEANS_SERVICES` will be set for all opbeans services, containing a list of all opbeans services in a comma-separated list, e.g.

        OPBEANS_SERVICES=opbeans-node,opbeans-python,opbeans-go

[2018-10-17 11:39] mikker commented on #196
For good measure: What are the _standard_ endpoints in `/api`?

[2018-10-17 11:40] watson commented on #196
For reference, here's how we have split up `/api/*` into its own service for opbeans-node: https://github.com/elastic/opbeans-node/pull/36

[2018-10-17 11:42] alvarolobato commented on #196
What percentage should be used when flipping a coin? 50%?

[2018-10-17 11:45] watson commented on #196
The opbeans-node agent have the following HTTP endpoints:

- `GET /is-it-coffee-time` - Not called by the UI and probably unique to opbeans-node
- `GET /log-error` - Not called by the UI and probably unique to opbeans-node
- `GET /log-message` - Not called by the UI and probably unique to opbeans-node
- `GET /throw-error` - Not called by the UI and probably unique to opbeans-node
- `GET /throw-asy

[2018-10-17 11:47] beniwohli commented on #196
To be frank, I'd prefer if you reverted that once we have this thing going. It'll be confusing why transactions/traces from opbeans-node look slightly different than everybody else

[2018-10-17 11:52] watson commented on #196
@beniwohli On the other hand, this removes the issue of recursion. If all opbeans-* exposed two services like this, the other opbeans-* could just call that one to not trigger the random proxy again. That way we'd not have an infinite loop of proxy calls 😅

But I'm not sure how easy it is for other languages to how multiple services in the same container like we do for opbeans-node

[2018-10-17 12:04] alvarolobato commented on #196
For this first iteration I would keep it simple, the odds of a very long trace are very low.

[2018-10-22 15:19] #30 closed

[2018-10-23 12:30] alvarolobato commented on #196
@elastic/apm-agent-devs thanks for doing this in record time. Closing the issue

[2018-10-23 12:30] #196 closed

[2018-10-25 20:24] graphaelli opened #208 "implement --opbeans-go-agent-branch/repo"
They don't do anything currently and cause:

[code]

[2018-10-29 13:15] watson opened #212 "Fix custom service name for opbeans-node"
With the introduction of #211, it's no longer possible to overwrite the service-name for opbeans-node.

We still have a config option to do this, but that will not have any any effect:

https://github.com/elastic/apm-integration-testing/blob/2b3b42e054a8fa4a517d7e91a942ae3efe2c9471/scripts/compose.py#L1125

We should therefore either remove it, or find a different way to do this.

[2018-10-30 14:14] watson opened #213 "Option to not starting opbeans load generator"
If you start any of the opbeans images, the load generator will start as well. It would be nice if there was an option to run opbeans without the load generator

[2018-10-30 14:19] watson commented on #213
The main reason why this would be nice, is that it adds about 1 minute to the boot up time to spin up the load generator on my mac even if I don't need it 😅

[2018-11-02 19:30] Qard opened #215 "opbeans-node failing to connect to API server in integration environment"
Not sure why yet, but opbeans-node seems to connect to the API service when run locally, but not when run in the integration environment.

[2018-11-05 19:08] graphaelli opened #218 "implement --opbeans-java-agent-branch/repo"
They don't do anything currently and cause:

[code]

like elastic/apm-integration-testing#208

[2018-11-06 02:34] #208 closed

[2018-11-06 22:51] graphaelli opened #221 "add secret token to apm-server endpoint configuration"
success means running `tests/server/test_transaction.py` against an apm-server with a secret token set.

[2018-11-07 14:35] graphaelli commented on #218
Just in the case where those are set right?  That seems reasonable enough.

[2018-11-09 11:44] kuisathaverat opened #226 "[APM-CI][Integration test] Unify version/package/branch/whatever parameters names for compose.py and scripts"
We are modifying the composer.py to support using a version from a commit SHA, reviewing the configuration of agents and opbeans modules, we saw that there are no common criteria to name the parameters (go-agent-version, nodejs-agent-package, rum-agent-branch, ...) IMHO should be only one way, I mean, you want to set the version/package/branch/whatever to use, if we have 3 different ways to set it

[2018-11-09 22:01] watson commented on #226
Sorry, I am unfamiliar with the problem you're solving. Could you explain a little more about which config options you would like to change the values for?

[2018-11-12 08:37] beniwohli commented on #226
I did something similar a few weeks ago for the opbeans services: https://github.com/elastic/apm-integration-testing/pull/198 (although I didn't add flags for `--opbeans-XYZ-agent-version` yet)

[2018-11-12 09:33] kuisathaverat commented on #226
Those are the options that we have to select application versions, you can see that there are not common criteria, we will need to support branch/tag/commit/release version selection for many (probably all) of them, so we need to review all and choose a common way to set the version to grab/compile.

[code]

This is also related to these three current PRs
https://github.com/elastic/apm-integration

[2018-11-12 10:03] watson commented on #226
My 5 cents: Under normal operation, using the agent version is the most user-friendly IMO. But sometimes it's nice to be able to specify either a git branch/commit/etc or a path to a local folder when testing an unreleased feature

[2018-11-12 17:02] graphaelli commented on #226
I think you can skip this support for non-APM components:
[code]

Are you proposing we merge `--apm-server-version` with `--apm-server-build` ?

[2018-11-14 01:49] axw commented on #226
I always get dizzy with the number of flags to compose.py. How about this?

- change `--with-apm-server` so that it accepts an optional string value. So `--with-apm-server` would store True, omitting the flag would store the default, and any value specified would be stored as a string (`--with-apm-server=foo` with store `"foo"`). String values would accommodate either a stack version number, or a

[2018-11-14 09:18] kuisathaverat commented on #226
I like it, this will reduce the number of compose flags to half or less ;)

ok, for branch and tags it is easy to use a ref (refs/heads/BRANCH_NAME or refs/tags/NAME), for commits there is not ref AFAIK, but it is easy to differentiate a SHA1 from a ref so easy to implement too.

e.g.

* `--with-apm-server` it uses default version (master)
* `--with-apm-server=refs/heads/6.x`it used the branch `6.

[2018-11-14 09:47] watson commented on #226
I like this approach, however if I may suggest a slight style change [borrowed from the npm world](https://docs.npmjs.com/files/package.json#dependencies) as this has proven a very logical and easy way of doing it:

- In `package.json` you can specify a dependency as just by the version, e.g. `1.2.3` - which will make it fetch the officially released version from the registry

- You can also speci

[2018-11-14 09:56] beniwohli commented on #226
Just keep in mind that all of this has to be implemented in platform specific ways in the entrypoint scripts (and for Go and possibly Java, in the Dockerfile), What I like about the current 3 flags is that it is quite easy to write up the logic in bash. I wouldn't want to do all of the options y'all propose in bash, but that may just be bash-hating me.

[2018-11-14 16:22] kuisathaverat commented on #226
We can use it to download releases from Github

e.g. https://github.com/elastic/apm-server/archive/v6.4.3.tar.gz

They are documented and allow you to checkout other repo different than the main repo, in the other hand, you need to know the organization, repository of the code, and are longer to write, they could be a 'nice to have'

😃 sure, the hard part should be in the compose.py on the Docker

[2018-12-11 16:45] alvarolobato commented on #212
@kuisathaverat take this into account when improving the scripts.

[2018-12-19 19:46] graphaelli opened #251 "add 6.6 tests"
[code]

[2018-12-19 21:23] graphaelli commented on #251
done

[2018-12-19 21:23] #251 closed

[2019-01-07 15:41] graphaelli opened #261 "support release differences more sustainably"
This repo currently runs the same tests against all versions of the Elastic Stack.  This requires compatibility code this about to get more challenging to maintain, as the next major release makes significant changes to the field names of APM data.

Proposal: Continue launching supported versions of the Elastic Stack using `compose.py` but split integration tests to support major versions.

To acc

[2019-01-09 17:15] graphaelli commented on #261
@kuisathaverat Are you available to pick this up?  I can grab it if not, it's rather urgent as tests against 6.x stacks will fail until we address this.

[2019-01-09 22:22] kuisathaverat commented on #261
@graphaelli I will pick it up Tomorrow in my morning, I will make a new branch in the apm-integration-testing compatible with APM version 6.x, so the master would be 7.x compatible until we have 8.x, then I will make a job for this 6.x similar to https://apm-ci.elastic.co/job/elastic+apm-integration-testing+master+periodic/, I suppose that this is the urgent part. finally, we will try to build bot

[2019-01-10 00:01] graphaelli commented on #261
That's great news, thank you @kuisathaverat!  I actually branched a `6.x` before merging #263 but feel free to branch elsewhere and force push if needed, though I don't that will be necessary.

[2019-01-10 17:50] kuisathaverat commented on #261
I am testing the first version https://github.com/elastic/apm-integration-testing/pull/265, it mostly works, I have to review some tests that are falling before started, and I have to generate an HTML file from the JSON result file. On a second iteration, we can tray to split test on different jobs and put some code in the library for reutilization.

https://apm-ci.elastic.co/blue/organizations/je

[2019-01-11 17:17] kuisathaverat commented on #261
Now report also an HTML table results

https://apm-ci.elastic.co/job/apm-server/job/apm-integration-tests-mbp/job/PR-265/13/artifact/results.html

![image](https://user-images.githubusercontent.com/5400788/51048976-cee2ea00-15cc-11e9-91d1-c855d6d8fd3d.png)

[2019-01-15 12:31] kuisathaverat commented on #261
I am closing the Axis test reusable way for Python and other Agents, as soon as I finished we can review the new PR that will supersede #265

[2019-01-16 15:41] kuisathaverat commented on #261
Main Build
![image](https://user-images.githubusercontent.com/5400788/51258303-f6113100-19a9-11e9-8eda-b6ea688967a3.png)

Downstream build per Agent
![image](https://user-images.githubusercontent.com/5400788/51258324-02958980-19aa-11e9-9aa5-debd64eafb1f.png)

Artifacts
![image](https://user-images.githubusercontent.com/5400788/51258423-3c669000-19aa-11e9-83b9-a6d246d5e5dc.png)

Results.json
![imag

[2019-01-17 15:27] roncohen opened #272 "Add heartbeat to "compose""
Would be great to include heartbeat as a component here in the "compose" script, just like metricbeat and filebeat: `--with-heartbeat`.

[2019-01-30 02:15] axw opened #279 "Metrics integration tests"
We should add integration tests for metrics. See https://github.com/elastic/apm-agent-go/issues/437.

[2019-01-30 12:57] formgeist opened #280 "Filebeat throwing errors around custom formatting"
When running `master` with `--with-filebeat` to get logs into i.e. the Logs UI, I seem to be getting a bunch of errors that `Field [@timestamp] of type [keyword] does not support custom formats`

Here's the entire log output from Kibana;

[code]

All I'm seeing in Kibana is

<img width="1707" alt="screenshot 2019-01-30 at 13 57 13" src="https://user-images.githubusercontent.com/4104278/51982684-fd

[2019-01-31 17:44] simitt opened #288 "Investigate broken tests for 6.2, 6.3, 6.4 stack"
With https://github.com/elastic/apm-integration-testing/pull/287 testing the stack from 6.2 - 6.4 has been disabled, as those tests were broken and showed red for all tests, which leads to ignoring test failures.
This should be fixed and enabled again asap.

[2019-02-02 00:16] Qard opened #290 "Broken concurrency tests?"
I'm looking at the latest test run on master and it seems like the concurrent request tests are failing across all agents. Not sure why. 🤔

[2019-02-04 15:41] graphaelli opened #295 "ignore docker-summary errors"
`docker-summary.sh` triggers this:

[code]

and exit immediately.  Those containers should just be ignored.

[2019-02-04 16:14] graphaelli commented on #290
Appears to be related to https://github.com/elastic/apm-server/pull/1859, I'll take a look

[2019-02-04 16:49] #290 closed

[2019-02-05 15:05] graphaelli opened #308 "decommission apm-ci"
In favor of continuous-integration/jenkins/pr-merge.

Opening to continue discussion started in https://github.com/elastic/apm-integration-testing/pull/303#issuecomment-460496061

[2019-02-06 09:23] #261 closed

[2019-02-14 18:00] graphaelli commented on #288
v1 tests for 6.x resolved addition of `6.x-v1` branch + #330

[2019-02-25 23:02] graphaelli commented on #12
closed by #317

[2019-02-25 23:02] #12 closed

[2019-02-28 12:31] vigneshshanmugam opened #360 "restart rum agent gracefully when timeout occurs"
Currently when the page timeouts with default timeout https://github.com/prisma-archive/chromeless/blob/master/docs/api.md#api-goto), the rum tasks print outs the error and dies.
[code]

We would need to fix it with a graceful restart of crawling the page.

[2019-03-01 18:26] graphaelli commented on #272
closed by #351

[2019-03-01 18:26] #272 closed

[2019-03-05 15:54] kuisathaverat commented on #308
The webhook has deleted, so the old jobs would not be trigger anymore.

[2019-03-05 17:14] graphaelli commented on #308
lgtm

[2019-03-05 17:14] #308 closed

[2019-03-05 17:15] graphaelli commented on #280
Looks like this is working now, right @formgeist ?

[2019-03-05 18:35] graphaelli commented on #360
Does the container go unhealthy or terminate at that point?  We could set a [restart](https://docs.docker.com/compose/compose-file/#restart) policy for this container if it would help.

[2019-03-06 10:15] formgeist commented on #280
@graphaelli It might, I can't test it right now because Docker is refusing to build `master` properly. Getting this when trying to start;

[code]

[2019-03-06 10:16] kuisathaverat commented on #308
https://github.com/elastic/infra/pull/9927

[2019-03-06 11:53] formgeist commented on #280
Ok, got it up and running, and it works👍

[2019-03-06 11:53] #280 closed

[2019-03-06 12:24] graphaelli opened #368 "uwsgi python test application"
uwsgi's forking approach presents some unique challenges that we should test.  The simplest route is probably running the flask app with uwsgi in addition to the current gunicorn setup.

cc @beniwohli

[2019-03-11 19:12] #288 closed

[2019-03-11 19:13] graphaelli commented on #193
all set now

[2019-03-11 19:13] #193 closed

[2019-03-12 13:29] #212 closed

[2019-03-22 13:04] kuisathaverat commented on #295
https://github.com/elastic/apm-integration-testing/pull/379
https://github.com/elastic/apm-integration-testing/pull/378
https://github.com/elastic/apm-integration-testing/pull/377

[2019-03-22 13:04] #295 closed

[2019-03-22 13:16] kuisathaverat commented on #98
Right now  we have different level of detail about status oin the integration test

* Branch level: it show the status by APM Server compatibility version
<img width="1259" alt="Screenshot 2019-03-22 at 14 09 12" src="https://user-images.githubusercontent.com/5400788/54824806-46f41d00-4cac-11e9-91d0-5c815660119e.png">

* Agent level: on each build we see the status of each agent
<img width="1160"

[2019-03-22 13:22] kuisathaverat commented on #213
related to https://github.com/elastic/apm-integration-testing/issues/173

[2019-03-22 13:26] kuisathaverat commented on #221
related to https://github.com/elastic/apm-integration-testing/issues/13

[2019-03-22 13:31] kuisathaverat commented on #360
I have added a health check option a few days ago
https://github.com/elastic/apm-integration-testing/pull/386
https://github.com/elastic/apm-integration-testing/pull/393
https://github.com/elastic/apm-integration-testing/pull/394

[2019-03-22 13:31] #360 closed

[2019-03-27 17:37] kuisathaverat opened #412 "Review Opbeans launch configuration"
We detected some errors in the configuration of the opbeans-java, in order to be sure we have to review that all opbeans works as expected.

These are the errors detected on the opbeans-java
* The RUM agent is not configured so the events are not send to the APM Server and you can see request failling to connect to `http://localhost:3000/intake/v2/rum/events`
* The dashboard does not finish to loa

[2019-04-17 09:17] kuisathaverat commented on #98
related to https://github.com/elastic/apm-dev/issues/536

[2019-04-23 15:50] graphaelli opened #418 "update apm-server monitoring configuration"
`xpack.monitoring` is now `monitoring` on 8.0+.  Unclear if this will also be supported any time in 7.x

[2019-04-25 13:48] kuisathaverat commented on #218
I think is resolved

[2019-04-25 13:48] #218 closed

[2019-05-01 09:06] v1v opened #427 "[APM-CI][Integration test] RUM-js ITs are failing with some infra issues"
## What

[code]

## How
- CI -> [here](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-axis-pipeline/detail/apm-integration-test-axis-pipeline/3720/pipeline#step-59-log-358)
- Locally
[code]

[2019-05-01 10:14] v1v commented on #427
https://github.com/npm/cli/pull/86 has been fixed in `npm@6.9.0` although it seems the above refers when using `node8:slim` with `npm@latest`, the below log output refers to the local testing:

[code]

If I remove the fixes introduced in:
- https://github.com/elastic/apm-integration-testing/pull/339
- https://github.com/elastic/apm-integration-testing/pull/347

Then everything works as expected:

[2019-05-06 09:28] v1v opened #434 "[APM-CI][Integration Tests][GO] Broken tests when running the go testapp"
Automation fails when building the docker image to run the go testapp in the ITs with the below stacktrace

[code]

It worked previously in the CI, refers to [here](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-axis-pipeline/detail/apm-integration-test-axis-pipeline/3943/pipeline/56)

[2019-05-06 09:31] v1v commented on #434
This is related to https://github.com/elastic/go-sysinfo/issues/48

[2019-05-06 12:40] jalvz opened #436 "Add automated test for agents CM"
At minimum we need one agent to test that the whole feature (Kibana-server-agent), but ideally  we add tests for all the agents progressively to ensure they can pick up and apply configuration dynamically.

[2019-05-07 15:17] #194 closed

[2019-05-08 10:06] mdelapenya opened #440 "Update docker-compose-wait to a valid version"
It seems that `1.0.0` is no longer available in pip, so upgrading it to `1.2.0` seems a good match

[2019-05-08 10:16] mdelapenya commented on #440
After debugging the installation, it seems that `virtualenv` was not properly installed in my machine. Closing this issue as now it works after installing it.

[code]

Besides that, `1.2.0` is not compatible with current state of the dependencies.

Closing this issue because of it

[2019-05-09 09:49] v1v commented on #434
PR: https://github.com/elastic/apm-integration-testing/pull/435

[2019-05-18 12:07] formgeist opened #442 "Add `service.environment` for opbeans services"
I would like to add the following `service.environment` variables to the opbeans services.

- **opbeans-java**
  - production
  - dev-1
  - qa-test
- **opbeans-go**
  - production
  - dev
- **opbeans-ruby**
  - production
  - development

[2019-05-19 12:56] graphaelli opened #443 "Beats logstash output"
Add support for configuring filebeat and metricbeat to use logstash.

[2019-05-20 12:59] #443 closed

[2019-05-20 13:03] #440 closed

[2019-05-20 13:04] #427 closed

[2019-05-21 09:51] #434 closed

[2019-05-23 18:19] graphaelli commented on #442
A single environment per service should be straightforward, any thoughts on how to handle multiple?

[2019-05-27 11:55] formgeist commented on #442
@graphaelli Perhaps this is more of a task for the automation team to handle in their dev setup for Observability. I imagine the best results will come from spinning up multiple agents handling each environment, so the relations between say `dev` traces are kept in sync. Thoughts?

[2019-05-28 13:31] graphaelli commented on #442
I agree that would be a better fit.

[2019-05-29 05:45] simitt opened #454 "[apm-integration-testing] Respect newly added users."
Currently new users can be added in a running instance via Kibana, but the users are not valid for usage afterwards.

How to reproduce:
* start ES and Kibana instance, e.g. `./scripts/compose.py start master --xpack-secure`
* go to Kibana management page and add user
* log out and try to login with the user or try to use the user as ES user in the output for an APM Server instance.

[2019-05-29 09:40] v1v opened #455 "[APM-CI][Integration test] Support 7.2.0 BC"
It seems the manifest for the docker images of 7.2.0 has changed and therefore the `--bc` flag in the ITs doesn't work as expected.

## How to reproduce
[code]

[code]

## Acceptance criteria
- Backward compatibility between different versions

[2019-05-29 10:21] formgeist commented on #442
Closing as I've opened https://github.com/elastic/observability-dev/issues/62

[2019-05-29 10:21] #442 closed

[2019-05-29 10:46] #455 closed

[2019-05-29 14:39] bmorelli25 commented on #454
Not sure if it obvious, but the _Create or update roles API_ and _Create or update users API_ also don't work for me. They return `"created" : true`, you just can't use the users afterwards.

[2019-05-30 07:48] kuisathaverat commented on #454
weird, I not sure if it could be related to how we launch Elasticsearch, I do not think so, but we'll take a look.

[2019-05-30 18:55] graphaelli commented on #454
WIth `--xpack-secure` right?

[2019-06-03 11:12] simitt commented on #454
Right @graphaelli , I updated the entry.

[2019-06-03 13:54] #454 closed

[2019-06-10 17:27] kuisathaverat opened #463 "[Automation] Heartbeat fails to start on 7.2"
Heartbeat fails to start on 7.2, it is trying to deploy the dashboards and they are not available anymore, we should disable the option.

[2019-06-12 10:25] mdelapenya opened #464 "Support for multibranch pipeline"
As an effort to standardise CI/CD work across the Observability teams, alongside using the JJBB framework, we want to add support for Jenkins' multibranch pipelines.

[2019-06-13 12:02] kuisathaverat opened #467 "report a proper error when docker compose is not available"
The following error is shown when you run compose.py without docker-compose installed, we should report a proper error and add docker-compose as a requirement on the README

[code]

[2019-06-13 12:35] mdelapenya commented on #464
Merged, thanks!

![image](https://media.giphy.com/media/D0WOL0ogZIoG4/giphy.gif)

[2019-06-13 12:35] #464 closed

[2019-06-18 11:55] formgeist opened #474 "Run `--no-kibana` without `heartbeat`"
I very often run Kibana locally for testing purposes, while running everything else through Docker. I'm used to be able to start up everything _but_ Kibana using;

`scripts/compose.py start master --all --no-kibana` but now I'm getting the following error;

`ERROR: Service 'heartbeat' depends on service 'kibana' which is undefined.`

Trying to add `--no-heartbeat` doesn't help the situation. Anywa

[2019-06-18 12:48] #41 closed

[2019-06-18 13:23] kuisathaverat commented on #474
the `--all` and the `--no-XXX` option enter on conflict, the alternative would be to enable what you want that it is not all. The following command will run all opbeans,  elasticsearch, APM Server, opbeans-loadgenerator, and auxiliar docker containers (databases)

[code]

[2019-06-18 13:29] kuisathaverat commented on #474
but, I found an error on the configuration of the heartbeat docker container it deletes the enable_kibana option I dunno why.

[2019-06-18 13:33] kuisathaverat commented on #474
PR https://github.com/elastic/apm-integration-testing/pull/476

[2019-06-18 13:33] formgeist commented on #474
thanks @kuisathaverat 🎉

[2019-06-19 11:22] v1v opened #482 "[Automation][Integration Tests] Pipeline with agent selector"
The idea is to be able to trigger specifically the ITs for a given branch/repo of an apm-agent individually without running the rest of the tests for other agents.

So far the CI pipeline does not support this particular use case, it does support either:
- run the all stage
- run all the compatibility versions for each agent in parallel.

[2019-06-19 11:25] kuisathaverat opened #483 "--no-XXXXbeat options does not disable beats when you use it with --all"
If you run the following command the docker-compose file will have beats for running and it should not

`scripts/compose.py start master --no-kibana --no-heartbeat --no-metricbeat --no-filebeat --all`

related to https://github.com/elastic/apm-integration-testing/pull/476

[2019-06-19 11:36] #474 closed

[2019-06-19 13:55] #482 closed

[2019-06-24 10:13] kuisathaverat opened #496 "[automation][integration-testing] All test is broken"
After merge https://github.com/elastic/apm-integration-testing/pull/494 there are three tests broken

test_conc_req_all_agents – tests.agent.test_multiple_agents
test_concurrent_req_dotnet_foobar – tests.agent.test_dotnet
test_concurrent_req_dotnet – tests.agent.test_dotnet

[code]

[2019-06-24 10:21] SergeyKleyman commented on #496
@kuisathaverat Could you please clarify which branch caused this to happen:

[code]

After I removed some asserts in #494 I cannot find any references to `'function'` ot `'module'` on master.

[2019-06-24 10:57] kuisathaverat commented on #496
We are reviewing it we detected the fail in a PR, the master seems ok, I've relaunched the build because it should be resolved.

[2019-06-24 11:51] kuisathaverat opened #499 "[Automation][integration-testing] Launch X containers"
Implement a way to generate a X number of docker containers as well. For example, if we added a web server with a load balancer and had a way to dial up the web servers to like 100 hosts. That would make it easier to test the waffle map with larger amounts of data.

[2019-06-24 11:58] kuisathaverat opened #500 "[Automation][integration-testing] launch Apache HTTP server, HAProxy, and NGINX containers"
in order to test Beats modules, we will need to launch the Apache HTTP server, HAProxy,  and NGINX containers, probably more to tests other modules.

[2019-06-24 12:06] #496 closed

[2019-06-24 15:14] beniwohli opened #502 "Add --apm-server-kibana-url flag"
Similar to `--apm-server-elasticsearch-url`, it should update `apm-server.yaml`, specifically the `kibana` section, and also flip the `kibana.enabled` flag to `true`

Adapting this section is also needed for Agent Remote Configuration :tm:

[2019-06-25 07:25] beniwohli commented on #502
to manipulate the `apm-server.yml`, we might want to ensure that YAML comments are preserved. If we do this with Python, we'll need to use https://pypi.org/project/ruamel.yaml/, as pyyaml doesn't preserve comments.

[2019-06-26 11:48] kuisathaverat opened #512 "[Automation] Create a new 7.x branch"
We're starting working on the next major version 8.x, this means that we need to create a new branch for 7.x and bump the Elastic Stack version on the master to 8.x

[2019-06-27 20:43] v1v commented on #512
7.x branch is now up and running:
- https://github.com/elastic/apm-integration-testing/tree/7.x

I created the below commit:
- https://github.com/elastic/apm-integration-testing/commit/7a379065f1de02178afa4ae4fc851717a7cea710

Not sure whether the upgrade scripts should be also changed. @graphaelli and @kuisathaverat what do you think?

Regarding the 8.x version, I'll raise a PR with the suggested

[2019-06-28 09:20] kuisathaverat commented on #512
I think 8.0.0 is correct

[2019-07-02 11:44] #512 closed

[2019-07-05 11:00] andresrc commented on #499
Merged into https://github.com/elastic/apm-integration-testing/issues/500

[2019-07-05 11:00] #499 closed

[2019-07-09 13:27] v1v opened #525 "Service 'agent-rumjs' failed to build"
[code]

[code]

Last successfully build was:
- `08-Jul-2019 04:53:50
- https://apm-ci.elastic.co/job/apm-integration-test-axis-pipeline/1506/

[2019-07-09 14:39] #525 closed

[2019-07-09 18:40] #467 closed

[2019-07-10 07:48] v1v opened #531 "Service 'agent-rumjs' failed to build"
[code]

[code]

## How to reproduce locally?
- git clone https://github.com/elastic/apm-integration-testing
- run
[code]

[2019-07-10 07:59] v1v commented on #531
https://github.com/elastic/apm-integration-testing/blob/master/docker/rum/Dockerfile is the docker image used for building the rumjs app in the apm-integration-testing repo.

[2019-07-10 10:17] #531 closed

[2019-07-10 10:18] v1v commented on #531
It seems this particular issue was after merging:
- https://github.com/elastic/apm-agent-rum-js/pull/312

[2019-07-19 09:21] kuisathaverat opened #548 "Add pre-commit stage"
we've configured pre-commit in the repository so we can add a pre-commit stage to make the same checks

related PR https://github.com/elastic/apm-integration-testing/pull/547

[2019-07-22 12:09] dgieselaar opened #552 "Cannot start stack from `master`"
When starting the stack with the following command:
`./scripts/compose.py start master`

The stack fails to start because the Elasticsearch container is not healthy, and APM Server/Kibana fail as a result. Here's the output from the command:

[code]

Output from the logs:
[code]

[2019-07-22 18:50] dgieselaar commented on #552
Restarting my laptop and running `docker system prune -a --volumes` resolves the issue, so I guess this is just a consequence of running bleeding Elasticsearch all the time. @elastic/observablt-robots AFAIC we can close this, or would you like to keep this open so you can surface the error from ES in a more actionable way to the user?

[2019-07-22 19:54] graphaelli commented on #418
Supported as of 7.2

[2019-07-22 21:04] graphaelli opened #553 "convert filebeat docker input to container"
The filebeat [docker input](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-docker.html) is deprecated as of 7.2 and the [container input](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-container.html) should be used instead.

[2019-07-23 07:53] kuisathaverat commented on #552
the problem here is the data in the volume of Elasticsearch, so the only way to fix it is to clean up that data, the easy way it is to delete the Docker volumes, another solution could be to delete all indices

`curl -s -X DELETE 'http://localhost:9200/_all'`

[2019-07-23 07:57] dgieselaar commented on #552
Thanks @kuisathaverat, deleting the Docker volumes was actually pretty hard so I'll give that one a shot next time 😀

[2019-07-23 07:57] #552 closed

[2019-07-23 08:03] v1v commented on #548
For the record https://github.com/elastic/apm-pipeline-library/pull/128 might help regarding the yamllint and shellcheck dependencies

[2019-07-23 12:49] v1v commented on #548
PR: https://github.com/elastic/apm-integration-testing/pull/555

[2019-07-25 10:02] #548 closed

[2019-07-25 13:26] kuisathaverat opened #560 "Allow disable Elasticsearch dump on test failure"
if you execute `make test-compose` you would need an Elasticsearch instance running locally to avoid have a timeout on every test failure dump, this makes tests take too much time. We could add an environment variable to enable disable those dumps, by default it should be disabled.

[2019-07-31 19:27] beniwohli opened #568 "Add 5.x branch of Python agent to test matrix"
The Python agent has a new major branch, which needs to be added to the test matrix. Compatibility to APM Server should be the same as 4.x.

[2019-08-05 05:40] v1v opened #572 "`OPBEANS_URLS` env var doesn’t get set when using `--all`"

[2019-08-14 22:22] bmorelli25 opened #573 "APM Agent configuration doesn't work with --xpack-secure"
APM Agent configuration doesn't seem to work when using `--xpack-secure`. Tested on both `master` and `7.3`

The page just shows "Loading". The console shows:
[code]
<img width="831" alt="Screen Shot 2019-08-14 at 3 16 12 PM" src="https://user-images.githubusercontent.com/5618806/63060227-7e0adb00-bea6-11e9-8f2b-48aeaa4be4aa.png">

Everything works as expected when `--xpack-secure` is omitted.

Th

[2019-08-20 08:13] axw opened #574 "Integration testing for chained exceptions"
The implementation details of https://github.com/elastic/apm/issues/40 are a bit subtle. We should extend our integration tests to ensure consistent behaviour across agents, and validate the documents created by the server.

[2019-08-20 08:19] axw commented on #574
@roncohen suggests that we should update Opbeans apps before we get started on the UI work. That way we'll have easy access to the data.

[2019-08-22 14:40] simitt opened #575 "[ECK] Run and automate tests on ECK infrastructure"
Set up integration testing to be able to run with ECK infrastructure (ES, Kibana, APM Server). Automate to run tests on ECK on a regular schedule.

cc @pebrc @elastic/apm-server @elastic/observablt-robots

[2019-08-26 02:22] axw opened #578 "Integration tests for secure communication"
We should have integration tests for secure communication between APM Server and agents. At least:

 - set up a self-signed cert on the server, and ensure that agents will fail to verify the cert by default
 - set `ELASTIC_APM_VERIFY_SERVER_CERT=false` on the agents, and check that they can communicate
 - set `ELASTIC_APM_SERVER_CERT=<path/to/cert>` on the agents, and check that they can communica

[2019-08-27 18:53] graphaelli opened #580 "apm-server + logstash + ILM"
When using logstash to index apm-server output while ILM is enabled, this change is needed:

[code]

it would also be nice to include `pipeline => "apm"` for versions that install that pipeline.

[2019-09-02 08:02] kuisathaverat commented on #575
[Elastic Cloud on Kubernetes (ECK)](https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html) I think this should be included on the observability-test-environments continuous deployment roadmap because it is a test against a different infrastructure.

[2019-09-04 13:45] jalvz opened #588 "Opbeans chained exceptions"
Have some Opbeans app to generate errors with nested exceptions, ideally with several "sibling" causes.

ref https://github.com/elastic/apm/issues/40

[2019-09-05 17:45] kuisathaverat commented on #588
we just added a data generator from Opbeans UI here https://github.com/elastic/observability-test-environments/pull/90 probably the request that generates nested exceptions, it is a candidate to add also.

[2019-09-11 09:11] alvarolobato commented on #575
@kuisathaverat will talk with the cloud team and understand the current situation of ECK so we can decide what approach we will follow here. This seems like a different deployment to what we have on our clusters and many need a big rearchitechture.

[2019-09-16 10:29] kuisathaverat commented on #575
I've checked the documentation and also talk with Sebastian from Cloud Team, ECK is only the new k8s operators, for now, there is a discussion about adding some other services we have in Elastic Cloud but for now, it is only the k8s operators. So we can test the APM Server deploy with ECK easily changing our k8s deployment for the ECK k8s operator.

[2019-09-19 13:45] graphaelli opened #596 "enable codesearch"
per the [docs](https://www.elastic.co/guide/en/kibana/current/code-getting-started.html), `xpack.code.ui.enabled: true` when on default distribution 7.2+.

[2019-09-19 14:24] graphaelli commented on #596
depends on https://github.com/elastic/kibana/issues/46140

[2019-09-19 16:24] kuisathaverat commented on #27
superseded by https://github.com/elastic/apm-server/issues/2733

[2019-09-19 16:24] #27 closed

[2019-09-19 16:27] kuisathaverat commented on #47
we started to use Cypress to run some UI test, we will open issues with more details about our scope for this UI test. Let's close this one.

[2019-09-19 16:27] #47 closed

[2019-09-19 16:31] #98 closed

[2019-09-19 16:38] kuisathaverat commented on #119
The current README file contains some examples and the instructions to launch the compose.py, to see the help related to the option available for each agent/opbeans, you can use the following command `./scripts/compose.py start --help`

[code]

[2019-09-19 17:03] kuisathaverat commented on #578
related to https://github.com/elastic/apm-integration-testing/issues/221

[2019-09-20 07:26] kuisathaverat opened #601 "--kibana-port parameter does not work"
something in https://github.com/elastic/apm-integration-testing/pull/557 removes some Kibana parameters.

[2019-09-20 08:15] #119 closed

[2019-09-20 12:48] #568 closed

[2019-09-20 12:50] kuisathaverat commented on #573
it is an issue in the APM UI, there is not too much to do on the integration test to avoid it, I think we can close it. @bmorelli25 WDYT?

[2019-09-20 12:52] bmorelli25 commented on #573
Yup, thanks Ivan. Looks like this was fixed in https://github.com/elastic/kibana/pull/44970.

[2019-09-20 12:52] #573 closed

[2019-09-20 22:56] basepi opened #603 "--python-agent-package not working"
Here is the command I was testing with:

[code]

I realized that it wasn't actually installing from the apm-agent-python master branch. After looking around more (and inspecting `--help`), I tried this:

[code]

Still no dice, as verified by putting `echo` statements into [the entrypoint.sh](https://github.com/elastic/apm-integration-testing/blob/master/docker/opbeans/python/entrypoint.sh). It was

[2019-09-20 22:57] basepi commented on #603
I ended up doing my testing by editing [entrypoint.sh](https://github.com/elastic/apm-integration-testing/blob/master/docker/opbeans/python/entrypoint.sh) and manually inserting the correct install source location. But I lost a fair amount of time before I realized what was happening -- or, more precisely what wasn't happening. :)

[2019-09-23 07:09] beniwohli commented on #603
I think the confusion here is between `--with-agent-python-django` (a very small test app for integration testing) and `--with-opbeans-python` (the opbeans app). `--python-agent-package` only applies to the former, for the latter you need to use `--opbeans-python-agent-repo` and `--opbeans-python-agent-branch`.

That *is* super confusing and needs to be documented better, at least.

[2019-09-23 11:27] #601 closed

[2019-09-23 11:55] kuisathaverat commented on #603
I guess you want to run the Opbeans-python with the Python agent from the master branch, to do that you have to use the `--opbeans-python-*` parameters not `--python-agent-*`

`./scripts/compose.py start master --with-opbeans-python --with-filebeat --opbeans-python-agent-branch=master --force-build`

[2019-09-23 12:25] #226 closed

[2019-09-23 12:34] kuisathaverat commented on #580
ILM is enabled by default on APM Server 7.3, so we can apply the changon on master and 7.x branches

[2019-09-23 12:58] kuisathaverat opened #604 "with `--all-opbeans` load-generator docker container does not start"
`./scripts/compose.py start 7.3.0 --all-opbeans`

`ERROR: Service 'opbeans-load-generator' depends on service 'opbeans-dotnet01' which is undefined.`

[2019-09-23 13:07] kuisathaverat commented on #572
I've resolved it in the same PR #604

[2019-09-23 14:42] basepi commented on #603
Ah, thank you for the clarifications. I'll probably try to add some documentation around this once I'm finished with my testing.

[2019-09-23 14:42] #603 closed

[2019-09-23 15:43] mdelapenya commented on #572
Let's close this then!

![image](https://media.giphy.com/media/AvMJCeu1EMmhG/giphy.gif)

[2019-09-23 15:43] #572 closed

[2019-09-24 07:25] #604 closed

[2019-09-24 07:35] #560 closed

[2019-09-24 13:22] jahtalab opened #611 "Fix the timeout issue with the opbeans RUM load generator"
Currently if the page load takes longer than 10000 it throws an error and exists the process:

[code]

We should either increase the timeout or catch and handle this error properly!

[2019-09-24 13:25] jahtalab opened #612 "Replace chromeless with puppeteer in the opbeans RUM load generator"
[Puppeteer](https://github.com/GoogleChrome/puppeteer) is the official chrome controller from google chrome team.

[2019-09-24 13:38] kuisathaverat commented on #612
we are testing [Cypress](https://www.cypress.io/) that integrates perfectly with [cucumber](https://cucumber.io/)  here there is an example https://github.com/elastic/observability-test-environments/tree/master/tests/functional-opbeans

[2019-09-24 13:50] #463 closed

[2019-09-24 15:59] kuisathaverat commented on #580
Do you mean something like this command?

`./scripts/compose.py start 7.1.0 --apm-server-snapshot --with-logstash`

this will use the `./docker/logstash/pipeline-6.x-compat/:/usr/share/logstash/pipeline/` that it is not correct for the APM Server 8.0.0-SNAPSHOT, I'll try to figure out how to make it works.

[2019-09-24 16:18] kuisathaverat commented on #580
done, now the following commands will use the correct pipeline for the APM Server version

`./scripts/compose.py start 7.1.0 --apm-server-version=7.3.0 --with-logstash`
`./scripts/compose.py start 7.1.0 --apm-server-snapshot --with-logstash`

[2019-09-30 13:01] beniwohli commented on #588
FYI, opbeans-python now has a chained exception (no siblings though, that's not a thing in Python). It's the `AssertionError: oh no` error. For now, you'll have to use the master branch of the agent for it to work

    scripts/compose.py start 7.4 --bc --with-opbeans-python --opbeans-python-agent-branch=master

[2019-09-30 13:04] beniwohli commented on #574
Regarding Opbeans, opbeans-python now has a chained exception . It's the `AssertionError: oh no` error. For now, you'll have to use the master branch of the agent for it to work.

    scripts/compose.py start 7.4 --bc --with-opbeans-python --opbeans-python-agent-branch=master

[2019-10-02 13:22] #580 closed

[2019-10-02 13:23] #553 closed

[2019-10-02 13:24] #418 closed

[2019-10-09 11:33] kuisathaverat opened #623 "Backport RUM agent changes on the build process"
There are some changes in the build process of the RUM agent not backported to the 6.x and 7.x branches, this makes that the integration test has been failing for several days.

[2019-10-09 12:33] #623 closed

[2019-10-09 14:13] kuisathaverat commented on #575
How to test snapshot on ECK https://github.com/elastic/seceng/issues/687

[2019-10-10 08:55] kuisathaverat opened #624 "The 7.0 upgrade test is failing"
The 7.0 upgrade test is failing because of some containers fail to start, this is due it uses the master branch for all agents, the solution it is to fix the version of the agents to avoid incompatibilities.

[2019-10-17 17:47] kuisathaverat opened #636 "filebeat report errors in the log"
`./scripts/compose.py start master --with-opbeans-java --with-filebeat`

[code]

[2019-10-17 18:03] kuisathaverat commented on #636
there are some log messages that are not JSON

[code]

The configuration should ignore them but I am not sure

[code]

[2019-10-18 10:47] kuisathaverat commented on #636
It is reading the logs of all containers on every container config, I think it is related to the path setting `- '/var/lib/docker/containers/*/*.log'`

[code]

<img width="1493" alt="Screenshot 2019-10-18 at 12 45 38" src="https://user-images.githubusercontent.com/5400788/67088360-415ca800-f1a5-11e9-8b15-acfd27cdc267.png">

[2019-10-18 11:39] #624 closed

[2019-10-18 13:07] kuisathaverat commented on #636
Also, Elasticsearch does not package well the exceptions, are not in the message in a JSON format

[code]

[2019-10-18 13:07] kuisathaverat commented on #636
we detected that some of the log messages from the Java Agent are not in JSON format, Should I open an issue or it is expected?
[code]

[2019-10-18 13:37] kuisathaverat opened #639 "Some log lines are not JSON format"
**Describe the bug**

We detected some errors when we tried to grab the logs with Filebeat, those errors are caused by some log lines that are not JSON format.

**To Reproduce**
Steps to reproduce the behavior:
1. run compose `./scripts/compose.py start master --with-opbeans-java --with-filebeat `
2. check the agent logs with `docker logs  localtesting_latest_opbeans-java|grep apm-remote-config-po

[2019-10-18 13:37] kuisathaverat commented on #636
https://github.com/elastic/apm-agent-java/issues/891

[2019-10-21 07:14] felixbarny commented on #639
Actually, none of the agent logs are in JSON format, only the application logs.
Filebeat should only parse JSON if the line starts with `^{` and fall back to putting everything in `message` otherwise.

[2019-10-22 12:26] kuisathaverat opened #643 "Log correlation on integration test"
We are modifying the Opbeans projects to generate a verbose JSON output with APM traces, this would help to make the Logs correlation, the integration test is the point where all those efforts will come together.
We've started to see some issues to make all the Opbeans work together https://github.com/elastic/apm-integration-testing/issues/636

* Not all Opbeans use the same field for the log mess

[2019-10-22 12:43] #436 closed

[2019-10-23 09:33] alvarolobato commented on #643
@Lior-Reuven @axw please have a look at this, is this an agent implementation problem or an opbeans implementation detail?

[2019-10-23 09:58] axw commented on #643
This is an issue with Opbeans and apm-integration-testing. I agree we should strongly consider dogfooding ecs-logging across Opbeans.

[2019-10-23 12:24] kuisathaverat opened #646 "Linting error on shell scripts"
there are some linting errors on a few shell scripts and pre-commit is claiming them

[2019-10-23 12:33] felixbarny commented on #643
Opbeans Java is using the ecs-logging-java module already. However, the agent itself still logs as plain-text, so the Filebeat configuration should check if a line is a JSON and only try to parse it then. See also https://github.com/elastic/apm-integration-testing/issues/639

Going forward it probably makes sense that the agent itself also logs ECS-compatible JSON.

[2019-10-23 14:06] #646 closed

[2019-10-23 14:07] kuisathaverat commented on #639
superseded by https://github.com/elastic/apm-integration-testing/issues/636

[2019-10-23 14:07] #639 closed

[2019-10-23 15:24] felixbarny commented on #636
This is expected. None of the Agent logs are in JSON, only the logs from the Opbeans application are.

[2019-10-24 10:59] kuisathaverat commented on #643
I'd say that it is a minor issue is easier to filter NO-JSON log lines from the logs than try to fit several JSON formats

[2019-10-24 11:00] kuisathaverat commented on #636
superseded by #643

[2019-10-24 11:00] #636 closed

[2019-10-24 16:22] #173 closed

[2019-10-24 16:25] #60 closed

[2019-10-24 16:27] #213 closed

[2019-10-24 16:27] kuisathaverat commented on #213
resolved in https://github.com/elastic/apm-integration-testing/pull/648

[2019-10-28 15:56] kuisathaverat opened #657 "Test upgrade fails to start opbeans-ruby Docker image"
after our changes to tight our Opbeans Docker images we've broken the upgrade test, we fix it on the master branch but not in the 7.x, 6.x, and 6.x-v1. we will fix it in 7.x because we use the Opbeans-Ruby image on a test.

[2019-10-29 11:09] kuisathaverat opened #659 "Opbeans node is broken after Docker images changes"
After lates changes on Opbeans-node Docker image, the Docker image in the integration testing is broken

`./scripts/compose.py start 7.4.0 --release --with-opbeans-node`

[code]

[2019-10-29 11:30] kuisathaverat commented on #659
it is a random error so I guess it is related to the node-8-alpine image

[2019-10-29 12:20] kuisathaverat commented on #659
PR related https://github.com/elastic/opbeans-node/pull/64

[2019-10-31 07:32] felixbarny commented on #643
Some thoughts:

- I'm not sure how useful centralized logging is without parsing anything in the logline. At least the timestamp is something which should be parsed out of the plain-text. Otherwise, the `@timestamp` will be set to the time Filebeat reads the line which might be off completely. But also things like the log.level is some really basic information which is almost mandatory to have par

[2019-10-31 09:20] kuisathaverat commented on #643
Thinking about this, probably the most simple solution is to integrate Filebeat on the Opbeans Docker containers, in that way every Opbeans has his own Filebeat configuration isolated from the rest. This approach is also valid for test environments.

[2019-10-31 09:40] beniwohli commented on #643
FWIW, I used a logging service in the past that would detect and transform any JSON dictionary, as long as it was at the end of the log line. This made the getting started experience for structured logging super smooth. Just append any key/values you might want to extract as JSON, done. I always wondered why Filebeat doesn't have a similar processor. Maybe it's considered too computationally heavy

[2019-10-31 10:13] #659 closed

[2019-10-31 11:06] kuisathaverat commented on #657
PR https://github.com/elastic/apm-integration-testing/pull/658

[2019-10-31 11:06] #657 closed

[2019-11-01 12:04] jalvz opened #661 "Add an option to build Kibana from source"
Similar to the `--apm-server-build` flag.
Ideally, would be able to take a remote/branch param too

POC dockerfile:
[code]

[2019-11-01 13:27] jahtalab commented on #611
@kuisathaverat , is it possible to prioritise this? It is causing the demo data to be inconsistent.

[2019-11-11 12:06] jalvz opened #662 "Make agent config frequency configurable"
Should revert to old default of 30 secs, and keep the current 1 sec for automated tests.
Requested by @beniwohli

[2019-11-12 14:49] v1v commented on #611
@sqren , where have you seen this particular issue? what are the steps required to reproduce it?

Thanks

[2019-11-19 12:13] #611 closed

[2019-11-20 11:20] kuisathaverat opened #671 "ELASTIC_APM_VERIFY_SERVER_CERT contains false, which is an invalid type, it should be a string, number, or a null"
integration test are failing in some cases with the following error

[code]

[2019-11-20 12:29] #671 closed

[2019-11-21 09:50] kuisathaverat commented on #643
it is enabled on the integration tests for the Agents Go, Java, Python, and Ruby, we also enabled it on the test environments for the agents Go and Ruby. We are working now to enable Python and Java.

[2019-11-21 12:57] kuisathaverat commented on #643
test environments are also configured for log correlation.

[2019-11-21 12:59] kuisathaverat commented on #643
PRs related
* https://github.com/elastic/apm-integration-testing/issues/643
* https://github.com/elastic/apm-integration-testing/pull/637
* https://github.com/elastic/observability-test-environments/pull/172
* https://github.com/elastic/observability-test-environments/pull/171
* https://github.com/elastic/observability-test-environments/pull/170
* https://github.com/elastic/observability-test-envi

[2019-11-21 12:59] #643 closed

[2019-11-22 12:25] #662 closed

[2019-11-28 09:24] kuisathaverat opened #677 "Add message to the login page with authentication details"
Søren added an option to show a message (markdown) on the login page, we can show user credentials by using it.

[code]

[2019-12-05 10:58] simitt opened #679 "[Jaeger] Add setup for jaeger integration with APM Server"
Add dockerized setup for automated tests. We should have a dedicated test app using the jaeger agent for instrumentation and expecting events in ES in a certain format

Part of https://github.com/elastic/apm-server/issues/2886

[2019-12-05 11:00] simitt opened #680 "[Jaeger] Add setup for jaeger client integration with APM Server via thrift over http"
Add dockerized setup for automated tests. We should have a dedicated test app using the jaeger client for instrumentation and expecting events in ES in a certain format

Part of elastic/apm-server#2886

[2019-12-05 12:04] gregkalapos opened #681 "opbeans-dotnet does not have frontent"
On `apm.elstc.co`, which I think runs via `apm-integration-testing` `opbeans-dotnet` does not have a frontend, so all we see is very few requests to `GET /root/get`, nothing else.

Testing it by starting this repo locally, same - no frontend for `opbeans-dotnet`.

The [`dockerfile`](https://github.com/elastic/apm-integration-testing/blob/master/docker/opbeans/dotnet/Dockerfile#L21) for `opbeans-do

[2019-12-06 09:21] beniwohli commented on #612
@kuisathaverat I'm not sure if the two things are related. `opbeans-rum` is more of a load generator than a testing tool.

I think it's important to move away from Chromeless ASAP, as it is the cause of all remaining open security issues in this repo. I'll give it a quick try and open a PR if it is successful.

[2019-12-06 21:20] graphaelli commented on #661
Took a quick a look at this and see some challenges:

* need to continue using something like `/usr/local/bin/kibana-docker` to allow passing configuration via env vars
* probably need to continue using `/usr/local/bin/dumb-init` as entrypoint as kibana-docker doesn't handle signals properly
* node version has to match exactly, so need `node:10.15.2` today, but could use a param

Kibana's Dockerfi

[2019-12-09 17:58] kuisathaverat opened #685 "Identify the root cause of the Python issues"
since 2 weeks the Python tests on the master branch are failing, it does not happen locally so it is something related to the CI.

[2019-12-09 18:41] kuisathaverat commented on #685
I was looking for errors on the integration test and I did not realize that Python containers have errors before start

[code]

[code]

[2019-12-09 18:42] kuisathaverat commented on #685
sounds like a python 3 issue

[2019-12-09 19:10] kuisathaverat commented on #685
changing the containers to `python:3.7`those errors disappeared but the test errors persist

[2019-12-09 19:20] kuisathaverat commented on #685
[code]

[2019-12-09 19:24] kuisathaverat commented on #685
I track it to this issue https://github.com/elastic/apm-agent-python/issues/570 seems pretty similar

[2019-12-10 09:26] kuisathaverat commented on #685
confirmed, we cannot set `ELASTIC_APM_VERIFY_SERVER_CERT` to any value it breaks the Python agent on 5.1 and 4.1

[2019-12-10 13:51] #685 closed

[2019-12-10 16:05] kuisathaverat opened #687 "Run integration tests on Elastic Cloud"
Create a new job that deploys an Elastic Cloud environment run the integration test, finally destroys the environment.

[2019-12-11 09:34] dgieselaar opened #688 "Ensure `service.version` changes from time to time"
In https://github.com/elastic/kibana/pull/52640, we are displaying markers in the charts for when versions are "first seen", meaning the timestamp for the first event that has a distinct value for `service.version` per `service.name`. The opbeans apps are currently all reporting either no value for `service.version`, or the same one for all recorded events. This makes testing out of the box a litt

[2019-12-11 09:39] beniwohli commented on #688
maybe we could set it to the agent version, now that most (or all?) opbeans variants get automatically built when a new version of the agent is released? Not sure how useful it would be though, as release frequency isn't that high.

[2019-12-11 09:53] kuisathaverat commented on #688
yep, this is the best option once we would have the Opbeans release process in place in every Opbean, as a workaround we can make that one of the Opbeans generate a random `service.version` on each build, this means that every time you launch the `compose.py` with the option `--force-build` this service name would change, Would it be enough for the moment @dgieselaar ?

[2019-12-11 09:56] dgieselaar commented on #688
I think it is. @sqren when apm.elstc.co is redeployed, do we pass the `--force-build` flag?

[2019-12-11 10:27] kuisathaverat commented on #688
checking how to implement it I have found that there is a flaw to change the service name for every opbeans, so it is implemented you only have to add a parameter like this one `--opbeans-go-service-name "opbeans-go-$RANDOM"` it would generate an environment variable like `ELASTIC_APM_SERVICE_NAME=opbeans-go-8391`

[code]

[2019-12-11 13:09] sqren commented on #688
@dgieselaar

Currently, no. But would be very easy to add.

[2019-12-12 09:39] jahtalab commented on #612
Addressed via #691, thanks @beniwohli for the PR!

[2019-12-12 09:39] #612 closed

[2019-12-16 12:28] simitt commented on #575
Was this closed intentionally or is it a zubebot bug?

[2019-12-16 14:56] kuisathaverat commented on #575
I have moved it to the wrong column

[2019-12-18 09:48] kuisathaverat opened #697 "Bump docker-compose Python library"
the current used docker-compose Python library is not compatible with Python 3 we have to bump and test it.

[code]

[2019-12-18 10:42] mdelapenya commented on #500
Hey @Andres-Rodriguez , is this something that could be closed as overlapping the end2end tests we are already doing for metricbeat?

[2019-12-18 11:04] andresrc commented on #500
If this issue is about having the services available in the test clusters we should keep it, as we want an environment with several data sources.

If it is about improving how the automatic tests are run, yes there are other initiatives in place (both e2e and improvements to integrations tests) and we should close this. Those initiatives may need some involvement from the team but specific issues

[2019-12-18 12:28] kuisathaverat commented on #500
we have those services deployed right now. This issue is about implementing the same with docker-compose, I think we can close it, it is mostly the same than the e2e initiative

[2019-12-18 15:23] formgeist commented on #688
@kuisathaverat Was there a PR for this that got merged? Not seeing any reference in the issue ^

[2019-12-18 16:08] kuisathaverat commented on #688
It is a really old PR https://github.com/elastic/apm-integration-testing/pull/120

[2019-12-18 17:27] beniwohli commented on #688
@kuisathaverat I think there's a misunderstanding. This issue is about introducing variation in the service *version*, not service *name*. Those are two different settings and end up in different fields in the intake API and Elasticsearch.

[2019-12-19 21:06] kuisathaverat commented on #688
this PR changes the static `"ELASTIC_APM_SERVICE_NAME=opbeans-XXXX` to `"ELASTIC_APM_SERVICE_NAME={}".format(self.service_name),` and introduces the parameter

[code]

no sure if it is the final implementation of the setting, but in any case, it does not matter the setting is there and it was implemented at some point.

[2019-12-19 21:39] dgieselaar commented on #688
@kuisathaverat I'm not sure if I follow - as Benjamin said, the issue is about different values for `service.version`, but the fragment that you posted is about `service.name`. How is it related?

[2019-12-20 08:32] kuisathaverat commented on #688
🤦‍♂ I was reading `service.version` as `service.name` for some reason and does not matter how many times I've read it, I read it always wrong, this kind of thins that happened in my mind 😫, sorry for my stupidity

[2020-01-03 08:37] dgieselaar commented on #688
@kuisathaverat any chance of getting this in before 7.6 freezes? Would help with our testing plan etc.

[2020-01-03 09:16] kuisathaverat commented on #688
@cachedout this is a good one to start with integration tests, it is about to add a new parameter to `compose.py` to set the `service.version` on the agents, basically, we have to add a new parameter for the opbeansservice and an environment variable (ELASTIC_APM_SERVICE_VERSION) to each opbeans, then we have to add a new test to check the existence of the env var when the parameter is set, finall

[2020-01-09 01:37] axw opened #712 "Improve readability of generated docker-compose.yml"
The docker-compose.yml file that is currently generated by compose.py is JSON, a subset of YAML. While it's technically YAML, it's not the best kind of YAML – it's hard to read, and hard to edit by hand.

For this, I propose we introduce an optional dependency on PyYAML, and add a flag to output in YAML. Ideally the output would look like a typical hand-crafted file, with the version at the top, v

[2020-01-09 11:33] cachedout commented on #688
@kuisathaverat I have now merged https://github.com/elastic/apm-integration-testing/pull/709. Could you help me understanding what else remains in order to close this issue?

[2020-01-09 14:29] kuisathaverat commented on #688
@cachedout you can close it

[2020-01-09 15:30] #688 closed

[2020-01-09 15:40] dgieselaar commented on #688
@kuisathaverat @cachedout does this also mean that running apm-it will mean that we get events with changing versions?

[2020-01-11 17:55] kuisathaverat commented on #688
@dgieselaar to change the service version you have to pass a parameter like the following `--opbeans-java-service-version 1.2.3`

[2020-01-14 13:47] #677 closed

[2020-01-17 08:51] #500 closed

[2020-01-23 10:09] kuisathaverat opened #724 "APM server Docker container fails to build on 7.x branch"
The master branch is failing to build with the following error:

[code]

[2020-01-23 10:37] kuisathaverat opened #726 "Moving to Python 3"
Python 2.7 EOL arrived so we have to move to Python 3.

[2020-01-23 10:56] kuisathaverat opened #729 "Bump Elastic Stack to 7.6"
A new release is coming so we have to update the default Elastic Stack on  branch 7.x

* Update `ELASTIC_STACK_VERSION` param on Jenkinsfiles (.ci/*.groovy and .ci/Jenkinsfile files)
* Update `.ci/scripts/7.0-upgrade.sh` Elastic stack used for the update
* Update `SUPPORTED_VERSIONS` on [compose.py](https://github.com/elastic/apm-integration-testing/blob/7.x/scripts/compose.py#L2115-L2131)
* Updat

[2020-01-23 10:57] kuisathaverat commented on #729
we have to document it on the master branch for the future

[2020-01-23 12:20] dgieselaar opened #732 "add CLI flag to set `refresh_interval`"
`refresh_interval` is currently set to 1ms by default. This is useful for testing but for some demo/development environments a configurable interval (for example 1s) makes more sense. For those cases, I propose to make `refresh_interval` configurable via a command line flag.

[2020-01-23 14:59] kuisathaverat commented on #712
This is the minimal output right now, to rid of all related option from integration test would need to add tons of `if` to remove those options, I am not sure it worths

`scripts/compose.py start 7.6 `

[code]

[2020-01-23 15:40] #697 closed

[2020-01-23 16:07] kuisathaverat commented on #221
I think is fully covered on https://github.com/elastic/apm-integration-testing/pull/737
WDYT? @graphaelli

[2020-01-23 17:29] kuisathaverat commented on #661
I am digging a little on it there is a command to build the Kibana Docker container, so I am going to try to spin up a container that builds the Kibana Docker container then we use the Docker container generated.

[2020-01-23 17:34] graphaelli commented on #221
agreed, thanks!

[2020-01-23 19:24] kuisathaverat commented on #661
To compile Kibana is a pain 😞

[code]

[code]

[2020-01-24 10:08] kuisathaverat commented on #661
To build only the Docker image it takes 25 min, the rest of the build takes about 20-25 min, Do we really want to build Kibana from sources?

[code]

[2020-01-24 10:11] jalvz commented on #661
oh, wow :(
then maybe is not worth it...

[2020-01-27 14:16] #732 closed

[2020-01-27 14:16] #724 closed

[2020-01-27 14:16] #729 closed

[2020-01-27 14:17] #726 closed

[2020-01-27 15:29] kuisathaverat commented on #661
since it is possible to build the image locally and retag it to use it, there is no reason to add an option to build and run that Kibana image.

[code]

[2020-01-28 11:56] kuisathaverat opened #747 "A parameter to use IT Docker images pre-builded"
We build a set of Docker images with the latest changes on master every day, in order to speed up the ITs wee can use those images to run the ITs. To do that we will need an option to pass the Docker images. Because we use a matrix of versions for our test we will need images for every release branch we use.

the changes would affect ITs main job, the downstream job, and the scripts to launch the

[2020-01-28 18:45] #712 closed

[2020-01-30 09:40] kuisathaverat opened #749 "Kibana OSS container does not start correctly - Error: Unknown configuration key(s): "xpack.apm.serviceMapEnabled"."
We detected on ITs that Python is not running the test on the test that starts Kibana, the following error is shown in the Kibana logs

[code]

[2020-01-30 09:42] kuisathaverat commented on #749
I think is related to https://github.com/elastic/apm-integration-testing/pull/742

[2020-01-30 09:45] kuisathaverat commented on #749
we have to not enable the flag on Kibana OSS

[2020-01-30 14:49] #502 closed

[2020-01-30 15:34] #749 closed

[2020-02-12 16:26] simitt opened #752 "Add XPACK_SECURITY_ENCRYPTIONKEY to kibana config"
For SIEM detection engine rules to work out of the box, add ~XPACK_SECURITY_ENCRYPTIONKEY~  `xpack.encryptedSavedObjects.encryptionKey` to the Kibana config. If this key is not set, the detection engine will raise permission errors and the user cannot set up any rules.

More information in the [kibana docs](https://www.elastic.co/guide/en/siem/guide/7.6/detection-engine-overview.html#detections-en

[2020-02-13 16:42] vigneshshanmugam opened #753 "set apm-server mode to experimental by default"
+ Since we already know apm-server mode `experimental` feature works out of the box and helps immensely while developing new features and also for the space time projects. it makes total sense to set the mode by default for all supported versions. https://github.com/elastic/apm-server/pull/1961

[2020-02-14 03:03] bartier commented on #483
@kuisathaverat Hi! I'm new here, but I would like to try to fix this :smiley:

In my tests, I understand that when `setup()` from `scripts/compose.py` is called the `start_handler` method in  `scripts/modules/cli.py` is called.

For each service, based on the args options and service attributes (if it is opbeans for example), the for loop decides if the services is going to be started.

[code]

If

[2020-02-14 08:48] kuisathaverat commented on #753
To use something experimental as default sounds a little heavy, keep in mind that it would affect our integration test. Add a flag to enable it sounds reasonable.

[2020-02-14 08:53] kuisathaverat commented on #753
the new flag ``will add the parameter `-E apm-server.mode=experimental` to the APM Server command line, this option is available since APM Server 7.2

[2020-02-14 09:25] kuisathaverat opened #756 "Rid of not used Chrome stuff"
I am checking our integration test, on the Docker file we install Chrome and download the selenium chrome webdriver, I have found only one place where this driver is used in the only Kiban test we have. This test is disabled a long time ago,  so I think we are installing and downloading something we do not need, also the Kibana test is disabled and I think we will not use it ever because we will t

[2020-02-14 10:06] v1v opened #758 "[dotnet] Bump version script got broken"
Caused by https://github.com/elastic/apm-integration-testing/pull/754 as it was detected a misbehavior

## Actions
- [x] Script should detect when the script cannot be bumped.
- [x] Adapt to the new apm-agent-dotnet package versioning.

[2020-02-14 10:36] simitt commented on #753
This would not influence the CI test runs. It is not an experimental feature in the sense of adding some early stage feature, but rather enables developers to add new fields that get dynamically indexed for developing POCs for new features.
I don't have a strong opinion about enabling by default or only providing a flag, but don't see any harm in enabling by default.

[2020-02-14 12:17] kuisathaverat commented on #483
the --no-XXXX parameters should disable any service https://github.com/elastic/apm-integration-testing/blob/bb9cae6460a5efdd7dba08e90d5d15df8f870753/scripts/modules/cli.py#L200-L206, so it is a matter of precedence on the evaluation, not sure how to fix it.
The other day I was thinking to close the issue, it does not have too much sense, I mean,  if you set `--all` you want to execute everything,

[2020-02-14 12:27] #758 closed

[2020-02-14 16:08] #13 closed

[2020-02-15 00:30] bartier commented on #483
@kuisathaverat Thanks for your reply :)

I'm not sure if I made myself clear (English is not my first language, sorry), but I'd like to discuss I guess to solve this in a simple matter:

Does adding `def enabled(): return True ` in Beats classes  and removing the third condition of the `if` a valid solution? ElasticSearch class for example has this method:
https://github.com/elastic/apm-integratio

[2020-02-17 08:50] kuisathaverat commented on #483
I did not test it, but I'd said that would break something for sure, this change affects all stack services, it is a matter of making the change and run the test `make test-compose`

[2020-02-17 09:03] simitt commented on #752
Depends on https://github.com/elastic/kibana/issues/57773

[2020-02-20 15:24] #753 closed

[2020-02-21 06:19] #756 closed

[2020-02-21 12:20] v1v opened #770 "[apm-ui] Tests are broken since a recent change in the Kibana apm-ui layout"
[code]

See build errors [here](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/master/4200/pipeline#step-81-log-18)

![image](https://user-images.githubusercontent.com/2871786/75034134-7014c300-54a4-11ea-83d9-c0a1b71230d3.png)

Caused by https://github.com/elastic/kibana/pull/57532

[2020-02-21 14:28] #770 closed

[2020-02-21 16:26] kuisathaverat opened #772 "7.6 ITs are failing"
Since yesterday the 7.x branch it is failing on the 7.6 APM Server build

[code]

probably is related to https://github.com/elastic/apm-integration-testing/commit/1dfa05122f72e2c920ddc1e64d73228e64046f56

[2020-02-24 08:21] simitt commented on #772
The `python3` upgrade has not been backported to `7.6`.

[2020-02-24 09:38] kuisathaverat commented on #772
We will need the branch 7.7 in the APM server.

[code]

[2020-02-24 12:00] #772 closed

[2020-02-24 12:00] #221 closed

[2020-02-25 13:08] kuisathaverat opened #781 "Add support to run Agents using an ApiKey"
API key support is available from 7.6, so we have to add support to test the APM Server configured with an ApiKey that agents would use to authenticate.

* Start the Elastic Stack (Elasticsearch+Kibana+APM)
* Execute a couple of commands to grab an ApiKey
* Transform the ApiKey to base64
* Pass the ApiKey to all the agents with the environment variable ELASTIC_APM_API_KEY

This command prepares th

[2020-02-25 13:10] kuisathaverat commented on #781
because we have to generate the ApiKey in runtime, probably the best option is to share a volume with the ApiKey between all the containers.

[2020-02-25 13:50] kuisathaverat commented on #781
once we have the parameter to run agents using ApiKey, we will need to run the `All` test using ApiKey, so we will have to add a new stage to test the ApiKey configuration.

[2020-02-26 12:58] kuisathaverat opened #782 "Add support to enable the slow logs"
For some debug troubleshooting it is needed to have the slow logs of an index to find the problem. We need to add a way to enable the slow logs for an index, or all indices.

see https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-slowlog.html

[2020-03-02 16:53] #687 closed

[2020-03-02 17:02] #575 closed

[2020-03-02 17:41] #752 closed

[2020-03-04 11:27] #782 closed

[2020-03-24 12:38] sqren opened #800 "Preserve exit code when docker-compose exists with an error"
Invoking apm-integration testing doesn't preserve the exit code from docker-compose.

**Demonstration**
[code]

While running the above command, I kill `docker` which results in the following error:
[code]

However, the exit code is 0 indicating that everything went fine.

![image](https://user-images.githubusercontent.com/209966/77426404-b2e3f680-6dd4-11ea-9055-8bfc738bf641.png)

[2020-03-24 13:00] kuisathaverat commented on #800
we run the docker-compose in detached mode, so this is the expected behavior the process is launched in background, when we saw this abrupt fail?

[2020-03-24 14:14] kuisathaverat commented on #800
I have remembered how we manage this on the test, we use docker-compose-wait to wait for all the containers up and ready if docker-compose-wait failed the make target fails.

https://github.com/elastic/apm-integration-testing/blob/master/Makefile#L116

[2020-03-24 15:14] sqren commented on #800
Is this a question for me?
I don't think this is expected behaviour from a consumer point-of-view. When any subprocess of `compose.py` fails, that should be propagated up, so the consumer can handle it. Right now it's being swallowed.

[2020-03-25 11:46] kuisathaverat commented on #800
@sqren I meant, this is the expected behavior of docker-compose when you launch `docker-compose up -d` you are running it in the background so you do not care about the return code. If you run it in foreground it takes the terminal to show you the logs, so you can not make anything else in the terminal. Because `compose.py` is used to generate the docker-compose file and launch the containers, we

[2020-03-25 11:54] kuisathaverat opened #801 "Agent Java tests are falling to build the Docker image"
This is the error we see in the logs

[code]

[2020-03-25 12:22] kuisathaverat commented on #801
it is falling only in the IT selectors, I can not replicate it locally, I start thinking it is related to the connectivity issues on workers and looking to the error is some kind of cache of HTTP requests.

[2020-03-25 12:37] kuisathaverat commented on #801
super https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1867431/comments/13

[2020-03-25 12:47] kuisathaverat commented on #801
the solution it is a little odd for a Docker container https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1866844/comments/12

[2020-03-25 12:56] kuisathaverat commented on #801
openjdk:10-jre-slim Docker image is affected, it is a year old Docker image and it will never be updated, so we can move to openjdk:11-slim that it is not affected

[2020-03-25 17:39] sqren commented on #800
I don't think this is accurate. `docker-compose` will run in the foreground until images have been downloaded and containers built. It'll then exit as soon containers are up. See this for instance:

![image](https://user-images.githubusercontent.com/209966/77565882-27965e00-6ec5-11ea-9549-2d4339a345ee.png)

_In the above case `docker compose` returns exit code "1" because an error happened while d

[2020-03-25 18:19] kuisathaverat commented on #800
@sqren
I think I did not be clear, we launch a subprocess from Python to avoid block the terminal
https://github.com/elastic/apm-integration-testing/blob/master/scripts/modules/cli.py#L404, this is a fork of the current process, change this behavior impacts how ITs works.

if the do not launch a subprocess this terminal blocks for the docker-compose process, so you can not continue with the execut

[2020-03-25 18:30] #801 closed

[2020-03-25 19:25] sqren commented on #800
I'm not arguing against detached mode - on the contrary. Even in detached mode `docker-compose` handles exit codes.

In your case you are not running in detached mode. If you run in detached mode it'll exit when the containers are up with the appropriate exit code.

https://github.com/elastic/apm-integration-testing/blob/master/scripts/modules/cli.py#L404, this is a fork of the current process, ch

[2020-03-25 21:35] kuisathaverat commented on #800
I know this is an example of what happens when you launch compose in a regular way, or you are waiting for the exit code of a process in background, the terminal is blocked waiting for the process.

@sqren it was possible if `compose.py` garb the exit code. `compose.py` generates the docker-compose file, launch the `docker-compose -d` command and exits, `compose.py` does not wait for `docker-compo

[2020-03-25 22:00] sqren commented on #800
Hmmm..  I might be misunderstanding you, but `subprocess.call` returns the returncode of the `docker-compose` subprocess, which is exactly what I'm interested in.

I made a proof of concept here: https://github.com/elastic/apm-integration-testing/pull/804

[2020-03-25 22:09] kuisathaverat commented on #800
see https://github.com/elastic/apm-integration-testing/pull/803 not all command should wait for the return code

[2020-03-25 22:23] sqren commented on #800
That's great! 👍

[2020-03-25 23:14] #800 closed

[2020-04-03 09:42] kuisathaverat opened #810 "add `--elasticsearch-enable-tls` and `--kibana-enable-tls` new flag to enable TLS"
It is not possible to run Elasticsearch and Kibana with TLS enabled, adding these two flags  `--elasticsearch-enable-tls` and `--kibana-enable-tls` we can test both with TLS enabled by default, it should be pretty similar to `--apm-server-enable-tls` and we can use the same certificate

[2020-04-03 15:31] v1v commented on #810
See [notes](https://www.elastic.co/blog/configuring-ssl-tls-and-https-to-secure-elasticsearch-kibana-beats-and-logstash?ultron=june-2019&blade=newsletter&hulk=email&mkt_tok=eyJpIjoiTlRBM1pqWTJPV0ppWldaaiIsInQiOiJiXC96b2JuZ0pUWEpCUDNzWDNlcmZualRmejM0blBVTk5tWFRsbTVubk9FXC9PNVIzTkIweWRGdXBzdXdmTjhPV0dyOFNPSzRuT3NZVXcwMDd6SFdnUFUxVnhoa29iWHZnRUJRbzd2Y1wveXE1MXUrVzlkdG96dnFcL1dabjNTczlUaXoifQ%253D%253

[2020-04-14 10:43] v1v commented on #781
Some thoughts:
- Create a side container to prepare the context and notify the other agent containers.
- ~~Use the /etc/environment or /etc/profile.d (see [here](https://help.ubuntu.com/community/EnvironmentVariables#System-wide_environment_variables))~~ I'm afraid it's not POSIX and there are different number of containers that got different flavours.
- Use https://github.com/elastic/apm-integrat

[2020-04-14 13:04] v1v commented on #781
### Manual testing with the env-file

The idea is to provide a side container to prepare the env variables that are required for the apm agents, therefore the apm-agents won't wait for the apm-server but for the side container to be healthy.

Design:

- Elasticsearch, is the first service to be started
- kibana, is the next service to be started and depends on the Elasticsearch service
- APM serve

[2020-04-15 14:04] v1v commented on #781
The implementation that I finally managed to code requires three steps:
- prepare the Elasticsearch instance with the compose.py
- generate the api key.
- run all the services with the compose.py in conjunction with the new flag.

It's not ideal, but that's the closest we can automate without major changes in the apm-its source code.

[2020-04-16 01:08] graphaelli opened #821 "Run tests on arm64 stack"
Now available on 8.0.0-SNAPSHOT builds.

[2020-04-16 07:38] #781 closed

[2020-04-16 07:50] kuisathaverat commented on #821
To run the ITs on ARM64 we need to run the APM Server on an ARM64 machine and run the ITs from another no ARM64 machine, otherwise, we need to port to ARM64 every Docker containers for the agent test applications.
Another option is to build an ARM64 Docker image for the APM server and run it with the ARM64 hypervisor.
https://www.docker.com/blog/multi-arch-images/
https://www.docker.com/blog/getti

[2020-04-16 20:06] graphaelli commented on #821
I was expecting we'd pursue option 1, running just the Elastic Stack on arm, as we don't have specific plans to support agents on arm yet.

[2020-04-17 08:32] #810 closed

[2020-04-17 23:20] smith opened #824 "opbeans-rum image won't build"
Getting this error when it's running `apt-get update -qq`:

[code]

[2020-04-20 07:51] kuisathaverat opened #826 "7.x test failed building the APM server image"
we have to backport https://github.com/elastic/apm-integration-testing/pull/823

[code]

[2020-04-20 07:55] #826 closed

[2020-04-20 09:16] v1v commented on #824
I cannot reproduce the above error:
- https://gist.github.com/v1v/8526b357ac1f5b9cc0efdf6ed494953c

Where did you see it? Off the top of my head, could it be related to the debian mirrors themselves? Maybe the mirror in a particular region was somehow compromised?

[2020-04-20 11:52] kuisathaverat commented on #661
We reopen this issue because build Kibana from sources and run some e2e test is needed.

[2020-04-20 20:17] smith commented on #824
@v1v I think you might have the image for `node:12-slim` cached. What happens if you:

[code]

to delete any local, already-built copies of `node:12-slim` and then run it again?

[2020-04-20 20:30] smith commented on #824
Apparently the Docker VM's disk was full. Running `docker images prune` cleared up enough to where it's working now.

Looking at  https://stackoverflow.com/questions/59139453/repository-is-not-signed-in-docker-build solved it for me.

[2020-04-20 20:30] #824 closed

[2020-04-21 15:09] afharo opened #829 "Add default parameter when running Kibana to opt-out from Telemetry"
We can see many telemetry reports in our Telemetry Production cluster from instances that are created and stopped on the same day and with the name `cluster_name: "docker-cluster"`.

Can we add the option `--telemetry.optIn=false` in the Kibana service's start command to opt-out from sending any telemetry reports?

[2020-04-21 16:23] kuisathaverat commented on #829
Let's disable telemetry by default, and add a flag to enable it when we need it.

[2020-04-21 16:24] kuisathaverat commented on #829
Let's disable telemetry by default, and add a flag to enable it when we need it.

[2020-04-21 16:38] bmorelli25 opened #830 "upload-sourcemap command doesn't work"
When running `./scripts/compose.py upload-sourcemap`, I receive the following error:
[code]

I have opbeans-node running, and after doing a search, it looks like opbeans-node is actually storing the generated source map here (no `/scripts/` in the path):
[code]

I copied the generated source map file to the location `upload-sourcemap` expects, and ran the command again:
[code]

As you can see, the

[2020-04-22 09:08] kuisathaverat commented on #829
I've checked it, we set the env var `XPACK_XPACK_MAIN_TELEMETRY_ENABLED`, but it has changed on https://github.com/elastic/kibana/commit/c308048f04e245080fa51e1be2cdc12668c33740 so I've tried to set a similar env var for the new setting, I didn't have too much luck, none of the following env vars disable the telemetry 😞 @afharo Do you know if there is an env var to disable telemetry?

[code]

[2020-04-22 10:05] afharo commented on #829
I can see that env var comes from [here](https://github.com/elastic/kibana-docker/blob/master/.tedi/template/kibana-docker#L147). But that repo is archived and used only for releases pre-6.6 (according to its readme).

I tried to find the new version of it in the Kibana repo: https://github.com/elastic/kibana/blob/master/src/dev/build/tasks/os_packages/docker_generator/resources/bin/kibana-docker#

[2020-04-22 10:07] afharo commented on #829
Note that this only works for docker builds (which I believe it's your case anyway) 😃

[2020-04-22 13:32] #829 closed

[2020-04-27 11:34] kuisathaverat opened #832 "Build APM Server OSS for the OSS test"
After this change https://github.com/elastic/apm-server/commit/7520b723ceb424c9338b231e5ecf83779877398e#diff-b67911656ef5d18c4ae36cb6741b7965R35-R37 the default version we build is the x-pack version, this makes that the ITs fail in the OSS test.

[2020-04-28 08:03] kuisathaverat commented on #832
resolved by https://github.com/elastic/apm-integration-testing/pull/833

[2020-04-28 08:03] #832 closed

[2020-05-25 14:17] #830 closed

[2020-05-26 08:50] vigneshshanmugam opened #844 "Integration test fails on every PR to JS agent"
+ Integration tests for JS agent seems to be not working for last couple of days. Happens to be an issue with Pupetter and playwright trying to install chromium and getting failed.

[code]

Test run - https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests-selector-mbp/detail/master/8637/pipeline

[2020-05-26 09:42] v1v commented on #844
I think that's an issue with the upstream (the opbeans-frontend). I'm running:
- [build](https://apm-ci.elastic.co/job/apm-agent-rum/job/opbeans-frontend-mbp/job/master/34/)

And also locally:

[code]

But I cannot reproduce it using the master branch.

## Question

- https://github.com/elastic/apm-agent-rum-js/pull/796 could be the reason for the above error?

- Could the opbeans-frontend skip th

[2020-05-26 10:19] vigneshshanmugam commented on #844
Nope, it fails on all PR's.

I am not sure though, seems to be an issue with playwright and puppeteer on the same repo.

[2020-05-26 11:01] kuisathaverat commented on #844
it is flaky, it fails to download the chrome package randomly, indeed I relaunch that build and success https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests-selector-mbp/detail/master/8648/pipeline so the only thing we can do is retry the whole thing.

I think the can add the variable `ENV PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=%{PUPPETEER_SKIP_CHROMIUM_DOWNLOAD}` to the Dockerfile

[2020-05-26 11:05] vigneshshanmugam commented on #844
There are some workarounds to change the network host that happens due to the network issue -  https://github.com/puppeteer/puppeteer/issues/1597

[2020-05-27 08:23] #844 closed

[2020-05-28 00:55] axw opened #846 "[otel] Smoke test opentelemetry-collector exporter"
Once https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/240 is merged, we should introduce some smoke tests into our regular integrating testing to ensure our exporter remains functional.

We can use Docker images from https://hub.docker.com/r/otel/opentelemetry-collector-contrib-dev, which appear to be built daily.

[2020-06-05 07:49] v1v opened #851 "Failed to download Chromium r686378 when running the all.sh"
[build](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests/detail/master/490/pipeline) failed as a consequence of the downstream [build](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/master/5579/pipeline), see the below stacktrace:

[code]

There was a kind of fix back in the days for the opbeans-frontend:
- https://github.com/e

[2020-06-09 12:07] jahtalab commented on #851
@v1v Is it possible to mirror the chrome download artefacts within our infra? there's an env variable [`PUPPETEER_DOWNLOAD_HOST`](https://github.com/puppeteer/puppeteer/blob/v3.3.0/docs/api.md) that we can use to point the installation to download chrome from our own mirror instead of the default.

[2020-07-06 15:09] graphaelli opened #865 "PHP Agent integration tests"
`make test-agent-php`

[2020-07-09 08:07] kuisathaverat opened #870 "Error while loading shared libraries: libXss.so.1"
Today we start to show the following error on RUM test

[code]

[2020-07-09 08:16] kuisathaverat opened #871 "Check the chrome driver download the URL seems wrong in some cases"
The URL to download the chrome driver seems wrong, the command `$(curl -o- https://chromedriver.storage.googleapis.com/LATEST_RELEASE)/chromedriver_linux64.zip` do something weird with the `LATEST_RELEASE` env var and the `curl` command is `$(curl -o- https://chromedriver.storage.googleapis.com/LATEST_RELEASE)`

[code]

[2020-07-09 08:17] v1v commented on #870
I also saw it and somehow I was expecting it could be flaky but it looks suspicious since it happens for 7.x and master branches :/

@vigneshshanmugam  and @jahtalab any hints?

Build logs:
- https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/apm-integration-test-downstream/branches/master/runs/5895/nodes/77/steps/98/log/?start=0

You can reproduce it locally with

[code]

[2020-07-09 08:45] kuisathaverat commented on #870
it affects to the APM server too https://apm-ci.elastic.co/blue/organizations/jenkins/apm-server%2Fapm-server-mbp%2Fmaster/detail/master/530/tests

 cc @elastic/apm-server

[2020-07-09 09:44] vigneshshanmugam commented on #870
@kuisathaverat @v1v I did some dry runs and adding `libxss` deps to the RUM docker fixes the issue. But i am still not sure why that happened out of sudden today, I dont know the root cause, but it seems to be a good workaround for now #872

[code]

[2020-07-09 09:58] kuisathaverat commented on #870
yes that the solution I tested it

[2020-07-09 10:29] #870 closed

[2020-07-09 12:09] #871 closed

[2020-07-09 15:02] DanRoscigno commented on #870
@vigneshshanmugam , I pulled master and am still not getting libxss installed.  I am seeing the error still and I exec'd in and used apt list to see if it was there but it is not.

[2020-07-09 16:59] kuisathaverat commented on #870
The CI  is installing the libxss1 package and the test pass

https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/apm-integration-test-downstream/branches/master/runs/5905/nodes/77/log/?start=0

[code]

locally it also install the library and pass the tests

[code]

@DanRoscigno I am not sure what could happen on your environment but the issue we have on our Integration test is reso

[2020-07-09 17:14] DanRoscigno opened #879 "Opbeans RUM container fails to run"
I am seeing:
[code]

When I run this compose:

[code]

When I run the .ci test everything passes, but not when I try to use the above.  I did pull after [872](https://github.com/elastic/apm-integration-testing/pull/872)

[2020-07-09 17:19] kuisathaverat commented on #879
to test it I will use something we can run locally directly, and only with the beans related to that failure.

[code]

[2020-07-09 17:32] DanRoscigno commented on #879
Thanks @kuisathaverat , I will run also the same.

[2020-07-13 10:00] #879 closed

[2020-07-13 12:49] cachedout opened #884 "Failure in starting stack services"
Reported by @eyalkoren

[code]

Full log: https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/apm-integration-tests-selector-mbp/pipelines/master/runs/9491/steps/89/log/

[2020-07-13 13:00] cachedout commented on #884
May be related to a broken build of Kibana...

[2020-07-16 13:16] cachedout commented on #884
This is fixed upstream.

[2020-07-16 13:16] #884 closed

[2020-07-17 18:32] graphaelli opened #887 "Remove v1 Intake Tests"
The 4 agents supporting the original v1 intake have reached EOL, meaning we can drop v1 from the testing matrix now.

[2020-07-22 07:44] kuisathaverat opened #889 "APM Agent Go ITs on 6.x are failing"
The tests are failing for all versions, it happens since 21th July

https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/6.x/2121/pipeline/87

[code]

[2020-07-28 14:18] kuisathaverat commented on #887
so we can delete the 6.x-v1 branch 👍

[2020-07-28 14:30] kuisathaverat commented on #889
There is a new version of `elastic/go-sysinfo` and it causes

[code]

[2020-07-28 16:13] kuisathaverat commented on #887
@gil on the master branch I found a couple of `v1` related code, the source maps load and the test upgrade, Do we want to delete them too?

https://github.com/elastic/apm-integration-testing/blob/master/scripts/modules/cli.py#L656-L718
https://github.com/elastic/apm-integration-testing/blob/master/tests/server/test_upgrade.py

[2020-07-28 18:45] graphaelli commented on #887
Wow, I had forgotten about that sourcemap upload utility - I guess we haven't updated it since the move to `/assets/v1/sourcemaps`.  I think it's ok to remove and count on adding it later if needed.  The upgrade test can go in its current form.

[2020-07-30 09:58] kuisathaverat commented on #851
None of these options works

[code]

so I will implement a retry for the install

[2020-07-30 16:40] #889 closed

[2020-07-30 16:41] kuisathaverat commented on #483
there is a workaround so we can close it

[2020-07-30 16:41] #483 closed

[2020-07-31 11:30] #851 closed

[2020-08-25 05:03] axw opened #900 "Add option to run UBI8-minimal based stack images"
Now that https://github.com/elastic/apm-server/issues/4066 is implemented, we should update apm-integration-testing with an option to run the UBI8-minimal based images.

[2020-08-31 10:52] kuisathaverat opened #901 "APM Java test are failing to build the Docker image"
[code]

[code]

[2020-09-01 10:43] kuisathaverat commented on #901
`JAVA_AGENT_BUILT_VERSION` is empty

[2020-09-01 12:11] kuisathaverat commented on #901
It needs Java 11 to compile since a few days

[2020-09-01 12:11] kuisathaverat commented on #901
but the master seems broken right now

[code]

[2020-09-02 07:32] kuisathaverat opened #905 "no matches found within 10000"
We have to make the artifact paths more restrictive to avoid hit that limit

[code]

[2020-09-02 07:33] kuisathaverat opened #906 "Unable to create the Python virtualenv"
the creation of the Python virtual environment is failing in all stages and branches, it also failed locally
https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests%2Fmaster/detail/master/571/pipeline/171

[code]

[2020-09-02 07:38] kuisathaverat commented on #906
I guess is this bug https://github.com/pypa/setuptools/issues/2352

[2020-09-02 07:51] kuisathaverat commented on #906
the 50.x versions are broken so the solution is to fix the version to `setuptools==49.6.0`

[2020-09-02 07:58] #906 closed

[2020-09-02 08:16] #901 closed

[2020-09-02 09:38] kuisathaverat opened #913 "RUM agent fails to build the Docker image on 7.x and 6.x branches"
[code]

[2020-09-02 09:41] #905 closed

[2020-09-04 12:45] jalvz opened #920 "--kibana-enable-tls doesn't work"
~~I think that changing only /scripts/modules/cli.py#L396 is not enough; as still can't navigate eg. to `app/management/ingest/beats_management`~~

Update: eventually found that the issue for a feature not working was that it requires running Kibana with TLS enabled, but the Kibana container stops when passing `--kibana-enable-tls`. Kibana logs are filled with `"No living connections"` messages.

[2020-09-05 10:38] #913 closed

[2020-09-21 09:01] v1v commented on #900
UBI docker images was enabled in https://github.com/elastic/beats/pull/20576

Docker images for the apm-server were generated as expected in the `apm-ci`:
- [See gcs objects](https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/master/603/gcsObjects/)

And also available in the internal docker registry:

[code]

[2020-09-22 08:19] #900 closed

[2020-09-23 14:23] kuisathaverat opened #932 "APM Server build is broken"
[code]

[2020-09-23 17:06] graphaelli commented on #932
Update to go 1.14 will fix this

[2020-09-24 08:11] kuisathaverat commented on #920
it is trying to connect to Elasticsearch by https

[code]

the workaround is to enable TLS for Elasticsearch too

`./scripts/compose.py start 7.9 --release --kibana-enable-tls --elasticsearch-enable-tls`

[2020-09-24 13:31] #920 closed

[2020-09-24 13:32] #932 closed

[2020-09-28 10:36] v1v opened #936 "[dicuss] Support prepare and start dependencies"
@dgieselaar mentioned that `-start-opbeans-deps` option is not implemented, as stated in the docs (see https://github.com/elastic/apm-integration-testing/blame/master/README.md#L100)

What he wanted is to start the apm-server with a postgres server.

So far the workaround is to start with the option `--with-opbeans-python`.

Let's discuss if this is something we can implement and use more generica

[2020-09-29 07:53] jalvz commented on #920
thanks!

[2020-10-19 15:10] v1v opened #947 "PHP ITs environment is not healthy"
### What

PHP app is not healthy

### How to reproduce it locally

[code]

### Stacktraces

[code]

[code]

[code]

[code]

[2020-10-19 15:14] v1v commented on #947
It seems related to https://github.com/elastic/apm-integration-testing/pull/946 since it works in the master branch:

[code]

[2020-10-19 15:14] #947 closed

[2020-10-21 10:08] kuisathaverat opened #948 "--no-kibana does not remove APM server kibana flags"
Running the following command

[code]

This is the command line for the APM Sever, it contains Kibana settings and should not

[code]

[2020-10-21 15:45] #948 closed

[2020-10-30 14:36] kuisathaverat opened #955 "[CI] add synthetics e2e test"
Integrate provisioning stuff for the synthetics e2e tests in compose.py, the idea is to launch a Kibana in dev mode, and the examples needed as part of the docker-compose file,then we can run the tests against those Docker containers.

see https://github.com/elastic/synthetics/pull/116

[2020-11-06 23:18] basepi opened #963 "Different environment variables in Jenkins vs locally"
Recently, I was debugging an issue, which resulted in https://github.com/elastic/apm-integration-testing/pull/962.

One reason it took a long time for me to figure out the root cause was that I couldn't reproduce the issue locally.

It turns out the environment variables present in Jenkins are different than those in my local integration test runs.

Here are the commands I ran locally:

[code]

Th

[2020-11-07 00:07] kuisathaverat commented on #963
all the builds have a docs.txt file in artifacts with the exact commands the CI run. These commands are the correct ones to replicate the issues from the CI.

https://apm-ci.elastic.co/job/apm-integration-tests-selector-mbp/job/master/11429/artifact/docs.txt

[code]

Also, the build in the CI has a dump of the data in Elasticsearch after the test `tests/results/data-TEST_NAME-error.json`
<img widt

[2020-11-07 00:07] #963 closed

[2020-11-07 01:40] basepi commented on #963
Yes, I'm realizing I made some false assumptions about those scripts -- I assumed they would be running the tests locally, but didn't open them to take the time to investigate there.

I do get failures when I run the commands above, specifically:

[code]

But maybe next week I will pull the scripts apart and see if I can solve those errors to reproduce the error locally. (For science!)

[2020-11-07 01:41] basepi commented on #963
Thanks again for answering all my questions over the last couple of days, @kuisathaverat! I've learned a lot and shouldn't get stumped as easily next time.

[2020-11-09 09:22] kuisathaverat opened #964 "docker-compose-wait does not work if you do not have a clean docker images history clean"
docker-compose-wait check the docker images ran in your system and check is all are healthy, this work well when you Docker history (docker ps -a) only have healthy Docker images, but does not work if you have unhealthy Docker images in the history, when this happens the command failed.

[code]

We have to find a more proper wait to wait for all Docker images ready, I think that a proper solution

[2020-11-09 09:23] kuisathaverat commented on #963
I have open this one https://github.com/elastic/apm-integration-testing/issues/964 about the error with docker-compose-wait

[2020-11-09 09:24] v1v commented on #964
+100, we use something similar in the opbeans, see https://github.com/elastic/opbeans-java/blob/0ac733323620c2d2d3a0325b2b4fa1bb17601a8d/docker-compose.yml#L117-L121

[2020-11-10 14:29] #964 closed

[2020-11-16 14:58] v1v opened #981 "7.4 --release does not work"
### Stacktrace

[code]

### How to reproduce locally

[code]

[2020-11-16 16:04] #981 closed

[2020-11-19 09:31] v1v opened #986 "wait-service Service "heartbeat" is missing a healthcheck configuration"
I pulled the latest version of the APM-integration-test env, and am getting an error starting up.  First I had to update my version of docker-compose because the compose version was updated to 2.4.
Now I am running into an issue with "wait-service" :
`ERROR: for wait-service  Service "heartbeat" is missing a healthcheck configuration`

It looks like it's trying to add a wait-service for every cont

[2020-11-19 09:37] axw opened #987 "Python tests are failing (and causing other agent tests to fail)"
APM integration tests have been failing since November 9: https://apm-ci.elastic.co/job/apm-integration-tests/job/master/

In many of the runs the tests that fail are `test_flask_error` and `test_django_error`. In some others, other agents' equivalent tests are failing too.

Running the tests locally I observed that the document count on the `apm-8.0.0-error-*` indices keeps growing even after the

[2020-11-19 14:44] #987 closed

[2020-11-20 10:52] v1v opened #992 "[packetbeat] is not working since it cannot reach kibana"
[code]

[2020-11-20 14:46] #986 closed

[2020-11-20 16:37] #992 closed

[2020-11-30 12:52] graphaelli commented on #865
closed by #863

[2020-11-30 12:52] #865 closed

[2020-12-01 11:06] felixbarny opened #997 "Enable inferred spans by default"
A follow-up on https://github.com/elastic/apm-integration-testing/pull/817 to enable inferred spans by default. To opt-out, the flag `--no-opbeans-java-infer-spans` can be set.

By running this on https://dev-next-oblt.elastic.dev, we'll get free longevity tests for the inferred spans feature and it's easier to demo the feature.

I'm initially assigning this to @mdelapenya based on your activity o

[2020-12-07 13:26] v1v opened #1000 "[7.x] FAiling when fetching dependencies"
File `Dockerfile`

[code]

[2020-12-08 15:21] jalvz opened #1004 "Add Elastic Agent container"
The default policy should start apm-server.

Critically, this requires a service that installs the APM package prior to any data ingestion.

[2020-12-08 18:27] graphaelli commented on #1004
I think this should depend on the version of the stack.  One idea:

For any version:
  -  `--with-elastic-agent` - plain old agent

For >= 8.0:
  -  `--with-apm-server` - agent with automatically configured apm-server.

For < 8.0:
  -  `--with-apm-server` -  no change, apm-server container started
  -  `--with-apm-server-agent` - agent with automatically configured apm-server.  Looking ahead to im

[2020-12-08 21:12] jalvz commented on #1004
Sounds good to me, except first bullet point - we only have agent/apm-server combo starting 7.11, so what is it for?

[2020-12-08 21:15] graphaelli commented on #1004
That would be for non-apm integrations

[2020-12-14 16:29] graphaelli commented on #1004
#1005 added `--with-elastic-agent`.

To automatically install the APM Integration this needs automation:

[code]

where `policy_id` and `package.version` are variable.

@jalvz :
1. Is there a reason not to attach the integration to the the default policy?
2. How often does the package version change?

It seems we can look up the default policy in a number of ways.  `/api/fleet/agent_policies` appe

[2020-12-14 17:12] jalvz commented on #1004
1. AFAIK the default policy will tell agent to start metricbeat and filebeat. I'm not sure whether that reason is strong enough to create a separate policy only for APM, I guess the worst that happens is that elastic-agent runs metricbeat and filebeat always too?
If it is not too hard I'd vote separate policy, but I don't have an strong opinion.

2. The-plan-right-now ™️  is to align with stack ve

[2020-12-14 17:21] simitt commented on #1004
I can take a stab at adding the `--with-apm-server-agent` automation, since I need that anyways.

[2020-12-14 17:26] simitt commented on #1004
+1; this will also help with automated upgrades of installed integrations that are part of a solution whenever Kibana is upgraded.

[2020-12-14 20:45] simitt commented on #1004
IMO it's fine to update the default policy; different deployment environments probably have the need for different default policies (e.g. kubernetes) for which cases it makes sense to update the shipped default policy before starting up the cluster. I suggest we do the same for the APM Server integration here.

fyi - we can use `curl "http://localhost:5601/api/fleet/agent_policies?kuery=ingest-age

[2020-12-14 21:32] graphaelli commented on #1004
Great, sounds like we don't need to get fancy with either version lookups (use static) or policy setups (use default).

perfect

All yours then @simitt, thank you.

[2021-01-06 13:04] v1v opened #1017 "[ruby] ruby app fails when starting"
### What

Nightly builds for the master branch are failing for the branch:2.x of the ruby agent.

### Error

[code]

### How to reproduce

[code]

### Reasons

ruby:latest docker image has been updated recently

![image](https://user-images.githubusercontent.com/2871786/103771553-d99bb280-501f-11eb-8603-ae17be2441ef.png)

And actually matches with the exact date when things started to fail apart.

[2021-01-06 13:40] estolfo commented on #1017
Following our discussion, I think it's ok to use ruby 2.x for agent 2.x, as we don't have plans to do a 2.x release to support ruby 3.0 (the latest, released less than two weeks ago). So the "Short term, fix the version to ruby:2" can be the long-term solution.

[2021-01-06 19:12] v1v commented on #1017
It's required to fix the 7.x branch, but unfortunately it requires a new implementation since both branches have diverged quite a bit

[2021-01-11 08:51] kuisathaverat commented on #1017
it affects also branch 6.x, we should test the latest compatible version that I guess is 2.11

[code]

[2021-01-11 08:52] kuisathaverat commented on #1017
Victor has a PR in place for branch 6.x so is resolved.

[2021-01-13 17:50] #1017 closed

[2021-01-13 17:51] #1000 closed

[2021-01-19 15:50] beniwohli opened #1032 "user role for opbeans to read/write directly to elasticsearch"
Hey folks

in opbeans-python, we have some code that reads from and writes to elasticsearch, to demo the elasticsearch instrumentation. Unfortunately, that stopped working since `compose.py` defaults to enabling authentication. Would it be possible to add an `opbeans_user` (or similar) user/role that has read/write access to `opbeans-*` indexes, and expose the user/password as environment variable

[2021-01-27 17:20] v1v opened #1045 "[docker] issues when installing the packages"
There are some environmental issues when building the docker images for the last few days:

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/2871786/106028335-ba92bc80-60c3-11eb-9f66-ea48994926e3.png)

### Consequences

APM-ITs are not running and might also cause some disruptions in the APM agents PRs workflows since they just use a sub-set of those APM-ITs to validate t

[2021-01-28 13:28] v1v commented on #1045
It seems the issue is related to the apm-server docker build, as far as I see the go docker image for 1.14 was changed about the time when we started to see these issues:

- https://github.com/docker-library/golang/commit/950ab704e976cb637b7b02a818e545437d4ea7e6

I'm exploring the below two options:
* build with cache in the CI, then consume the already cached docker images (if the packer_cache ha

[2021-01-29 13:16] cachedout opened #1049 "[dyno] Add application latency controls"
## Background

The APM teams are working on an excellent new feature called `Correlations` which can make determinations about which factors might relate to symptoms of latency in an applications.

## Dyno changes

In order to exercise this feature with Dyno, we need to achieve a few things:

1. We must be able to introduce arbitrary amount of latency into an Opbeans application.
2. That latency m

[2021-01-29 15:28] kuisathaverat commented on #1045
make sense to split build and test stages, it would allow us to identify environmental issues earlier and put retries and other workarounds in place.

[2021-02-18 09:36] cachedout commented on #1049
All done. :)

[2021-02-18 09:36] #1049 closed

[2021-02-19 12:55] v1v commented on #1032
I see some references for other users/roles in https://github.com/elastic/apm-integration-testing/pull/416

I don't know how the password is generated

[2021-02-19 13:02] beniwohli commented on #1032
@v1v yup, generating the password is the part that I don't understand, too

[2021-02-22 09:09] #1032 closed

[2021-02-22 09:49] v1v opened #1065 "rsync is required for building the apm-server@7.x"
Command:

[code]
Stacktrace:

[code]

Reason:

https://github.com/elastic/apm-server/blob/742d42972ba862fb8a1e6a243a657c3d27e776d9/script/vendor_otel.sh#L15-L16

[2021-02-22 09:52] v1v commented on #1065
Requires https://github.com/elastic/apm-integration-testing/pull/1054

[2021-02-24 09:51] axw opened #1068 "Cannot run 7.x build candidates with snapshot registry"
I'd like to test the 7.12 build candidates with Fleet, using the APM package in the snapshot package registry. When running a build candidate of Kibana, it will interact with the production package registry by default. This can be overridden with `XPACK_FLEET_REGISTRYURL` (`xpack.fleet.registryUrl`).

When running the managed APM Server service, one can pass the `--package-registry-snapshot` flag

[2021-02-24 10:01] kuisathaverat commented on #1068
I think this setting is not implemented yet, IIRC the registry is forced based on the version you are using see https://github.com/elastic/kibana/pull/90327

[2021-02-24 10:24] axw commented on #1068
Yep, I'm in the process of adding a flag to control the registry URL used in Kibana.

[2021-02-25 01:11] #1068 closed

[2021-02-26 10:08] #1065 closed

[2021-02-26 10:08] v1v commented on #1065
https://github.com/elastic/apm-integration-testing/pull/1066 already backported

[2021-03-02 10:44] formgeist opened #1073 "[Bug] Wait-service is "unhealthy" while bringing up integration testing"
I'm running into the following issue with the latest apm-integration-testing.

[code]

I'm trying to start the apm package registry to test out the Elastic APM agent locally. I'm using the following script command;

`./scripts/compose.py start master --no-apm-server --with-package-registry --package-registry-apm-path /Users/***/apm-server/apmpackage/apm` (*** is my local dir)

[2021-03-02 11:47] #1073 closed

[2021-03-02 19:10] bmorelli25 opened #1074 "Error when editing the APM integration configuration"
Not sure if this is a bug in apm-integration-testing or apm-server, but figured I'd start here. FWIW, I'm able to edit the system integration settings without error.

## Summary

I'm unable to edit the `apm-integration-testing` Elastic APM integration after it's been set up. To reproduce, run:

[code]

Then, go to **Fleet** / **Policies** / **Default policy**. In the **Actions** hamburger menu for

[2021-03-03 14:07] jalvz commented on #1004
I think this is done, we will have to update things when fleet server comes, but for now we are good. Feel free to reopen if you disagree.

[2021-03-03 14:07] #1004 closed

[2021-03-11 12:13] v1v opened #1080 "[CI] timeout for the ECK testing"
![image](https://user-images.githubusercontent.com/2871786/110785663-1aec5080-8263-11eb-8217-a94ffe79722d.png)

See https://apm-ci.elastic.co/job/apm-it-eck/job/master/288/console

[2021-03-11 12:23] kuisathaverat commented on #1080
It seems related to the PHP agent
<img width="1911" alt="Screenshot 2021-03-11 at 13 23 07" src="https://user-images.githubusercontent.com/5400788/110786868-eed5cd00-826c-11eb-9569-2527a4e0c092.png">

[2021-03-11 12:24] kuisathaverat commented on #1080
that it is failing right now https://apm-ci.elastic.co/blue/organizations/jenkins/apm-it-eck/detail/master/289/tests

[2021-03-22 20:42] trentm opened #1083 ""--opbeans-node-agent-local-repo=/some/local/dir" doesn't work"
The compose.py script supports some `--opbeans-$lang-agent-local-repo=$localDir` options to have the opbeans-$lang container use an APM agent from the given `$localDir` (a working copy of the APM agent repo). For example:

[code]

Two issues using the node.js version of this option:

1. It doesn't actually install the Node.js APM agent from the local repo in a way that the opbeans-node installed a

[2021-03-23 17:40] #1083 closed

[2021-03-29 09:44] #1045 closed

[2021-04-02 01:58] trentm opened #1095 "integration tests are failing with "Wildcard expressions or all indices are not allowed" from `elasticsearch.clean()`"
https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests-selector-mbp/activity/ shows that integration tests started failing for everyone (at least for node, rum, and java that have had test runs of it so far) about 9 hours ago.
The failure is the same for all:

[code]
These integration tests are running using whatever the latest "docker.elastic.co/elasticsearch/elasticsearch:8.0

[2021-04-02 09:04] clement-fouque opened #1096 "[CVE-2021-28918] Vulnerable netmask npm package"
Our elastic threat intel team as detected a vulnerability that might impact your GitHub repository. Can you please confirm if you're affected and if yes remediate ? Thank you.

Affected file: `docker/opbeans/rum/package-lock.json`

/cc @ry-wiz @elastic/security-assurance

[2021-04-05 08:27] kuisathaverat commented on #1096
probably is not a big deal on the opbean-rum but let's bump dependencies to safe ones https://github.com/elastic/apm-integration-testing/pull/1097

[2021-04-05 15:00] #1095 closed

[2021-04-05 16:45] #1096 closed

[2021-04-08 18:28] trentm opened #1106 "".ci/scripts/opbeans-app.sh nodejs nodejs-express node" fails if the given node.js agent commit needs git to "npm install""
The node.js APM integration tests were failing for my https://github.com/elastic/apm-agent-nodejs/pull/2024 PR. For example:  https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests-selector-mbp/detail/master/15778/pipeline/

[code]

Reproducing locally to get the logs from the equivalent container that "is unhealthy" shows:

[code]

The "npm install" from [here](https://github.

[2021-05-05 16:40] jamiesmith opened #1139 "Elastic agent fails in AIT when TLS is enabled"
Certain parts of alerting and fleet require TLS to be enabled to work, and when it is the startup of the Elastic Agent container fails with this error:

[code]

This is (essentially) the command that I use to start up my environment with TLS enabled for the stack:

[code]

Notice that I override the `--opbeans-elasticsearch-url` in there.  We likely need a similar kind of `--elastic-agent-kibana-u

[2021-06-08 07:24] axw opened #1169 "Fix `--package-registry-apm-path` flag"
In https://github.com/elastic/apm-server/pull/5414 the `apm-server/apmpackage/apm` package version directory was removed from VCS. This means the package cannot be directly loaded into package-registry; it needs to be copied into a version directory first, e.g. like in https://github.com/elastic/apm-server/blob/master/testing/docker/package-registry/entrypoint.sh

[2021-06-16 19:11] graphaelli opened #1178 "Better Elastic Agent Integration ES Output URL"
When starting an environment relying on agent: `compose.py --with-elastic-agent --apm-server-managed --all`, APM Server is unable to reach elasticsearch, reporting (in `/usr/share/elastic-agent/state/data/logs/default/apm-server-json.log`)

[code]

Fleet is by configuring the elasticsearch output for integrations to `http://localhost:9200`.  Updating this to `http://elasticsearch:9200` resolves th

[2021-06-16 21:14] graphaelli commented on #1178
for now, with a fresh apm-it:

[code]

[2021-06-22 14:38] kuisathaverat commented on #1178
this can be configured by adding `xpack.fleet.agents.elasticsearch.host: ${ESLASTICSEARCH_URL}` to the kibana configuration.

[2021-06-22 14:39] kuisathaverat opened #1182 "Elastic Agent TLS support"
It does not honor the `--elasticsearch-enable-tls` and `--kibana-enable-tls` flags it uses HTTP URLs instead of HTTPS

[2021-06-25 11:56] sqren opened #1184 "Gracefully handle when docker is not running"
Current when starting apm-it without starting docker first the following cryptic stack trace will be dumped:

<details>
  <summary>View stack trace</summary>

[code]
</details>

Instead, would it be possible to show a human readable message like:

(similar to [this](https://github.com/elastic/kibana/blob/922d7cc73d6d699df9615e2b6352ca580ebb6aae/x-pack/plugins/apm/e2e/run-e2e.sh#L9-L13)). or even b

[2021-06-28 13:27] #1184 closed

[2021-06-29 23:05] sqren opened #1187 "Infer kibana's default "host:port" when starting apm-server without kibana"
APM Server needs to connect to Kibana for certain features to work (eg. Central Configuration).
By default APM Server expects Kibana to run on `localhost:5601`. However when running with `--no-kibana` flag APM Server should no longer try to connect to Kibana on localhost (since it clearly won't be available) but instead on `host.docker.internal:5601` which is the hostname for Kibana running on the

[2021-06-30 06:28] mdelapenya commented on #1187
@sqren thanks for opening this ticket, could you add an estimated target date for this so we prioritise it accordingly?

[2021-06-30 08:13] kuisathaverat commented on #1187
the URL `host.docker.internal` only works on macOS see https://github.com/docker/for-linux/issues/264, It is possible to pass the URL of Kibana to whatever you want with the flag `./scripts/compose.py start 7.13.2 --apm-server-kibana-url=http://host.docker.internal:5601`, this flag currently does not work if you pass `--no-kibana`. We should fix this flag to allow to pass the Kibana URL always, ev

[2021-06-30 08:24] sqren commented on #1187
@kuisathaverat Maybe I was not clear in my description:

Can we automatically set the kibana host when running `--no-kibana`? The defaults should be
`--apm-server-opt="apm-server.kibana.host=host.docker.internal:5601"` on mac and `--apm-server-opt="apm-server.kibana.host=172.17.0.1:5601"` on linux.

This can obviously still be overridden but more sensible defaults than `apm-server.kibana.host=loca

[2021-06-30 11:22] mdelapenya opened #1188 "Error while running the ALL stage on CI builds"
It seems it's the apm-server container, which is not healthy on compose startup:

[code]

CI Job: https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-test-downstream/detail/master/9929/pipeline

[2021-06-30 11:26] mdelapenya commented on #1188
Adding more context about last 6 days of build execution:

- June 23rd (https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests/detail/master/933/pipeline): errors on PHP and Python stages
- June 24th (https://apm-ci.elastic.co/blue/organizations/jenkins/apm-integration-tests/detail/master/934/pipeline): errors on PHP and Python stages
- June 25th (https://apm-ci.elastic.co/blue

[2021-06-30 11:27] mdelapenya commented on #1188
Both Python and PHP error fail with the following message, which is the very same error/stacktrace as in the all stage.

[code]

[2021-07-08 19:05] sqren commented on #1187
Please let me know if this is still not clear.

[2021-07-12 22:50] graphaelli commented on #1178
That has been set for awhile but was apparently broken, it seems to be fixed now.

[2021-07-12 22:50] #1178 closed

[2021-07-19 13:35] walterra opened #1212 "ERROR: Encountered errors while bringing up the project."
I'm trying to run apm integration testing on a local machine with macOS 11.4.

- I used these instructions to set up `virtualenv`: https://gist.github.com/pandafulmanda/730a9355e088a9970b18275cb9eadef3
- Installed Docker Desktop 3.5.1.7

I'm seeing the following error when trying to run `scripts/compose.py`:

[code]

[2021-07-19 13:43] kuisathaverat commented on #1212
you have to check the logs of the container `31ff405ee763 `

[code]

[2021-07-19 14:00] walterra commented on #1212
For some reason I see the ES container shutting down, but there aren't any obvious errors in its log, not sure why it's stopping:

[code]

[code]

[code]

[2021-07-19 14:01] kuisathaverat commented on #1212
Is the container killed?

[code]

[2021-07-19 14:03] kuisathaverat commented on #1212
I just ran the same command locally and it works, so I will say that you did not have enough memory to run all containers, Could you check that you allow Docker to have 10GB of RAM at least?

[code]

[2021-07-19 14:20] walterra commented on #1212
Oh great, docker just had the default `2GB`, I bumped it up and now it worked too! Thank you so much, it's been almost 5 years since I touched docker 😅 . I'll now continue with trying to bring up all services and see if that works.

[2021-07-19 14:25] walterra commented on #1212
I was now able to bring up all services including the load generators, thanks again!

[2021-07-19 14:25] kuisathaverat commented on #1212
I happened me too several times

[2021-07-29 09:57] #661 closed

[2021-07-30 14:21] cachedout commented on #1188
This is related to https://github.com/elastic/kibana/issues/106749

[2021-08-18 09:15] cachedout commented on #1188
We think [we have a fix for this now](https://github.com/elastic/kibana/pull/108952). We're just waiting for new images to be built and hopefully the ITs should come back.

[2021-08-23 09:44] cachedout commented on #1188
It does [not look](https://apm-ci.elastic.co/job/apm-integration-tests/job/master/) like the [fix to Kibana startup time](https://github.com/elastic/kibana/pull/108952) had the desired effect.

The next area of exploration is going to be to [try an upgrade of Docker across the workers](https://github.com/elastic/infra/issues/31043), in case this is somehow related to a bug in Docker disrupting con

[2021-08-26 01:02] graphaelli opened #1232 "Kibana 8.0.0 not starting"
Plain old `./scripts/compose.py start 8.0.0` fails to bring up an 8.0.0-SNAPSHOT cluster as of at least 2021-08-24.  Kibana logs:

[code]

The same message is logged for `.kibana_task_manager` and `.kibana_task_manager_8.0.0_001`.

There appears to be some change to permissions around the kibana system indices.  https://github.com/elastic/elasticsearch/pull/76449 looks suspicious but is 2 weeks ol

[2021-08-26 20:56] #1232 closed, assigned to nobody

[2021-08-30 08:38] cachedout commented on #1188
Learned from reading this issue that `/api/status` will actually return a 503 if it detects that Kibana is not healthy. It's still curious that we aren't seeing anything in the logs which would indicate an error, but it might be good to start logging the responses to the HTTP health checks just so we can confirm this theory.

[2021-08-31 11:01] sqren opened #1241 "Decrease sampling rate and drop unsampled transactions"
Sometime in the future APM Server will drop unsampled transactions by default. This will impact the APM ui, and to prepare ourselves for this shift I suggest that apm-integration-testing by default will drop unsampled transactions also. For this to have any noticable effect we should also reduce the sampling rate from 100% to something else. Perhaps 10% or maybe even 1%?

To drop unsampled transac

[2021-08-31 13:01] cachedout commented on #1241
Hi @sqren

Thanks for the heads-up here. I'm also going to cc: @graphaelli because I think he might have some input.

We can certainly add this setting to the APM integration test suite by default if that's what the teams want to do. (That's quite easy.)

If we also want to change the same rate for each agent, we just need guidance on specifically what you want that value to be.

I think the next

[2021-08-31 14:02] sqren commented on #1241
Let's say 10% but I'm okay with anything below 10% really.

[2021-08-31 14:03] sqren commented on #1241
Yes, I think it would be great to have on the obs clusters as well. But fine to focus on apm-integration-testing first, and then tackle the obs clusters later.

[2021-08-31 20:52] graphaelli commented on #1241
I think this makes a lot of sense to make it simple to drop unsampled tranasaction in apm-it, making it the default for 7.16+ clusters in apm-it with an option to keep unsampled sounds like a good path forward.

As @sqren wrote in the original, we'll need a corresponding drop in sample rates for this to be useful for testing metrics.  While central configuration would be nice, I propose we start w

[2021-09-01 06:31] felixbarny commented on #1241
No concerns, SGTM

[2021-09-01 17:02] trentm commented on #1188
Hi. Should we re-open this or start a separate issue?

The IT tests for some languages (at least Node.js and Java) are still failing occasionally with:

[code]

On [a slack discussion](https://elastic.slack.com/archives/C5M02D1GE/p1630509290033700), @graphaelli noticed that some of these errors are with the `.ci/scripts/opbeans-app.sh ...` step. For example:

- https://apm-ci.elastic.co/blue/organ

[2021-09-01 20:06] trentm commented on #1188
@cachedout Regarding #1245 setting `--no-kibana`: I asked above:

However, I'm pretty ignorant on the intent of "opbeans-app.sh", so if others think excluding Kibana here is fine, then cool.

Has there been any understanding of or digging into why the Kibana container is not starting -- or not starting fast enough?

[2021-09-02 09:47] cachedout commented on #1188
Hi @trentm

There's been a pretty significant amount of debugging around the Kibana startup issue. Much of it is linked to this issue in comments above.

The largest problem that we have here is that it's _very_ hard to replicate this problem locally so it's hard to get an environment where can get the Kibana folks usable information. (I've seen it occur once locally out of about 200 tries.)

To m

[2021-09-02 10:36] v1v commented on #1188
The original PR was https://github.com/elastic/apm-integration-testing/pull/763

The idea of the validation was to ensure all the pieces work as expected:
- APM Agent
- Opbean app that consumes the above APM agent version
- Elastic Stack service that are used by the Opbeans app

The reason was to detect breaking changes earlier in case the APM agent version affected the opbeans app. Though, there

[2021-09-02 17:29] trentm commented on #1188
Thanks for the information. As long as none of the APM agent or Opbeans App integration tests are testing central config (that would require a Kibana, or later Fleet server, I guess), then it sounds good to me to add `--no-kibana` to ".ci/scripts/opbeans-app.sh".

* * *

Here is my understanding of what is/was failing. Apologies if this was already known and/or written down somewhere -- I didn't s

[2021-09-07 09:53] cachedout commented on #1212
We are currently tracking what we now believe to be the root cause of this issue in the Kibana repo. I'm going to close this so that we can follow it there:

https://github.com/elastic/kibana/issues/110583

[2021-09-07 09:53] #1212 closed

[2021-09-07 10:11] cachedout commented on #1188
We are now tracking what we believe to be the true cause of this issue upstream in the Kibana repo:

https://github.com/elastic/kibana/issues/110583

[2021-09-10 12:32] cachedout commented on #1241
A PR is now up for review: https://github.com/elastic/apm-integration-testing/pull/1255

[2021-09-13 11:18] #681 closed

[2021-09-13 11:18] #747 closed

[2021-09-13 11:20] kuisathaverat commented on #1080
obsolete there is other issues now

[2021-09-13 11:20] #1080 closed

[2021-09-13 11:29] kuisathaverat commented on #1074
it is resolved.

[2021-09-13 11:29] #1074 closed

[2021-09-13 11:43] kuisathaverat commented on #1139
`--elasticsearch-enable-tls` and `--kibana-enable-tls` are correctly managed now.

[2021-09-13 14:18] kuisathaverat commented on #1182
it is fixed

[2021-09-13 14:18] #1182 closed

[2021-09-13 20:31] jamiesmith commented on #1139
Should these work with the `--with-elastic-agent` option? Can you provide an example command?

I tried adding them to my start and the agent container dies.

This command:
[code]
Generates:
[code]

So I added `--elastic-agent-kibana-url https://kibana:5601` to the startup command, which is closer, but changes the error to:
[code]

Thanks

[2021-09-14 07:57] kuisathaverat opened #1261 "APM UI test is failling in 7.x"
[code]

[2021-09-14 08:35] cachedout commented on #887
I'm not too familiar with the backstory on this one but it looks like there used to be a dedicated branch for these tests and it's been removed? I don't see `test_upgrade.py` anymore either.

So, I'm going to guess that this is probably ready to be closed. @kuisathaverat or @graphaelli any objections?

[2021-09-14 08:37] kuisathaverat commented on #1139
I just tested this command and check that the compose file uses `https` URLS, then I have checked that there is an Elastic Agent attached and online, Where do you see this error? could it be the fleet endpoint config what it is wrong?

[code]

[2021-09-14 08:50] kuisathaverat commented on #887
yeah, I think it is resolved a long time ago.

[2021-09-14 08:54] #887 closed

[2021-09-14 10:22] cachedout commented on #1187
@sqren Could you please checkout https://github.com/elastic/apm-integration-testing/pull/1263 and see if it works as you would expect? Thanks!

[2021-09-14 11:35] jamiesmith commented on #1139
How long did you let yours run?

I am guessing that Elastic Agent likely failed after about a minute in your execution (or maybe 30 attempts), trying to talk to Kibana:

[code]

That same error from both 7.15.0 and 8.0.0, so it's not really running

[2021-09-14 11:36] jamiesmith commented on #1139
(that was why I added the `--elastic-agent-kibana-url https://kibana:5601`, which gets it closer, but then agent complains about the self-signed cert)

[2021-09-14 11:45] kuisathaverat commented on #1261
fixed by https://github.com/elastic/kibana/pull/112077
related to https://github.com/elastic/apm-integration-testing/pull/1265

[2021-09-14 12:04] #1241 closed

[2021-09-15 12:15] #997 closed

[2021-11-02 11:11] #1188 closed

[2021-11-02 12:31] cachedout commented on #1187
After some review, it looks like there is [a fundamental problem](https://github.com/elastic/apm-integration-testing/pull/1263#issuecomment-919056808) with this approach. Unless there is a pressing need, I think that we should close this as "won't fix".

[2021-11-02 14:50] sqren commented on #1187
Fair enough.

[2021-11-02 14:50] #1187 closed

[2021-11-02 21:47] sqren commented on #1241
@cachedout Has this been released on the edge cluster? I'm not seeing any unsampled transactions and wondering why that is.

[2021-11-03 09:06] cachedout commented on #1241
@sqren The changes made in https://github.com/elastic/apm-integration-testing/pull/1255 only affect the APM Integration tests.

You wrote above:

`Yes, I think it would be great to have on the obs clusters as well. But fine to focus on apm-integration-testing first, and then tackle the obs clusters later.`

We've done the first part but not the second. :)

I have opened https://github.com/elastic/

[2021-11-03 16:12] sqren commented on #1241
Ahh, makes sense. Thanks @cachedout !

[2022-01-20 09:04] v1v opened #1386 "apm-agent-ruby: full coverage support uses 2.x as the latest version"
I've just seen https://github.com/elastic/apm-integration-testing/blob/main/tests/versions/ruby.yml points to 2.x and https://github.com/elastic/apm-agent-ruby/tree/3.x and https://github.com/elastic/apm-agent-ruby/tree/4.x are branches that are not executed on a nightly basis when running the APM ITs

### Actions

1) Agree whether those branches are required
2) What's the process to include a new

[2022-01-24 08:00] simitt opened #1400 "Update user and roles to leverage built in solutions roles"
Elasticsearch `7.13` introduced two new built-in roles `editor` and `viewer` giving full or read-only access in Kibana https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-roles.html.
The Kibana user should be updated to use these roles where possible.

[2022-01-25 10:24] gbamparop opened #1405 "Add a lambda service to Opbeans test data"
After introducing lambda support in the APM UI by https://github.com/elastic/kibana/issues/106552, it would be useful to have a lambda service by Opbeans for continuous testing.

Information needed for lambda metadata icon, icon details and cold start chart.
- `cloud.provider`: `aws`
- `cloud.service.name`: `lambda`
- `service.runtime.name` (e.g. `AWS_Lambda_python3.8`)
- `faas.coldstart` (`true`

[2022-01-25 13:22] AlexanderWert commented on #1405
/cc @jlvoiseux

[2022-01-25 13:39] jlvoiseux commented on #1405
We now have a [way](https://github.com/elastic/apm-aws-lambda/pull/104) to run an instrumented Lambda service locally, so building an Opbeans-Lambda demo container and integrating it in the Testing suite should be straightforward. I will try to build a sample Lambda service in Node. I will ping you once I have a container working.

[2022-01-26 09:24] v1v opened #1413 "Update 7.x branch with the latest changes in the main branch"
### What

7.x branch is not up to date with all the changes in main, so the renaming of `main` in the APM agents, Opbeans and other projects required to apply some changes in this repository.

As a consequence the builds in the `7.x` branch are unstable sometimes.

![image](https://user-images.githubusercontent.com/2871786/151136879-acb7c7c3-b8d3-4b90-8c12-346527c7d8a5.png)

### Action

Create a n

[2022-01-26 17:35] v1v commented on #1413
[code]

So far I reverted:
- #1312
- #1031

Changed:
- CI pipelines to use the `release` alias
- Change versions with the current supported versions.

[2022-01-26 21:08] v1v commented on #1413
https://github.com/elastic/apm-integration-testing/pull/1412 is also needed to be backported :)

[2022-02-07 12:30] kuisathaverat opened #1434 "APM server managed support on compose.py"
Reviewing the `compose.py` support to run the APM server in managed mode I wonder if maintaining support for running the APM Server on managed mode for version 7.x is still something we want. My main concerns are:

* Configuration in 7.x is different than in 8.x
  * Access to Kibana and Elasticsearch is different (user+password vs API tokens)
  * The environment variables to configure settings are

[2022-02-07 12:51] kuisathaverat commented on #1434
https://github.com/elastic/apm-integration-testing/pull/1435

[2022-02-08 05:01] axw commented on #1434
Given that APM Server standalone (legacy) is still supported, I think it might be premature to remove support.

What prompted this? Is the maintenance actively causing pain?

[2022-02-08 15:09] kuisathaverat commented on #1434
nothing is removed, the thing is implementing only APM Server managed for 8.x. Standalone will work on both 7.x and 8.x if we apply the changes needed.

[2022-02-09 06:19] axw commented on #1434
Sorry, I misunderstood and thought you wanted to support only managed in 8.x, and no longer standalone.

https://github.com/elastic/apm-integration-testing/pull/1435 removes support for running the APM integration with 7.x doesn't it?

[2022-02-14 08:11] simitt commented on #1434
I don't think we should remove support for managed APM Server in `7.x`. When running the `7.17` stack, one needs to run it from the `7.x` branch. It is important that  we can test managed mode in `7.17` and also test upgrade scenarios.

[2022-02-14 08:16] simitt opened #1440 "Fix setup with Elastic Agent and Fleet"
Fleet removed default agent policies in `8.1`(https://github.com/elastic/kibana/pull/121628), and the Elastic Agent is currently adapting behavior to it (https://github.com/elastic/beats/pull/30256). These changes break the current setup logic for [managed apm-server](https://github.com/elastic/apm-integration-testing/blob/main/docker/apm-server/managed/main.go#L21). When updating to this new logi

[2022-02-14 08:44] kuisathaverat commented on #1440
this change is implemented at https://github.com/elastic/apm-integration-testing/pull/1435 is waiting for a decision on https://github.com/elastic/apm-integration-testing/issues/1434

[2022-02-14 08:47] kuisathaverat commented on #1434
In that case, I suggest implementing the support of 8+ in a new container instead of mixing 7.x and 8.x, if you agree I can make the changes on https://github.com/elastic/apm-integration-testing/issues/1440 to have 2 separate implementations on for 7.x and another for 8.x

[2022-02-14 09:39] simitt commented on #1434
I'm ok with having two separate implementations, especially given the fact that there are breaking changes in `8.1`, requiring a change in the setup anyways.

[2022-02-15 12:34] jlvoiseux commented on #1405
Here is the repository for [Opbeans Lambda](https://github.com/elastic/opbeans-lambda). Next step is to integrate it in the Integration Testing suite.

[2022-02-24 09:44] gbamparop commented on #1405
Looks great, thanks!

[2022-02-28 19:45] graphaelli opened #1443 "add opbeans-php"
opbeans-php should start with `--with-opbeans-php` and `--all`

[2022-03-10 11:16] dgieselaar opened #1452 "--apm-server-managed has hard dependency on kibana service"
Running APM IT with `--apm-server-managed` and `--no-kibana` leads to the following error:

[code]

I would expect to be able to use `--apm-server-managed` without starting the Kibana service, as I want to connect to my separately running Kibana instance.

[2022-03-22 10:19] #1434 closed

[2022-04-05 06:20] dgieselaar opened #1466 "opbeans-rum fails to start on m1 laptops"
Running `./scripts/compose.py start main --all-opbeans` yields the following error:

[code]

I've not heard others complain about this so I'm assuming it's an error specific to m1/arm environments.

[2022-04-05 06:50] dgieselaar opened #1467 "APM Server container exits when it cannot reach Kibana"
When running APM Integration Testing with `--no-kibana`, the APM Server container exists because it cannot reach Kibana:

`Error: http POST request to http://kibana:5601/api/fleet/setup fails: fail to execute the HTTP POST request: Post "http://kibana:5601/api/fleet/setup": lookup kibana on 127.0.0.11:53: no such host. Response: `

I would like it to be possible to run APM Integration Testing with

[2022-04-05 06:54] dgieselaar commented on #1467
Some context: this is how we [recommend developers to start working with APM locally](https://www.elastic.co/guide/en/kibana/current/kibana-debugging.html#_running_kibana_with_the_apm_agent_locally). We also use it in the APM UI team if the test clusters are not available or if we want to index data locally. The fact that this doesn't work out is a big issue for us.

[2022-04-05 07:29] simitt commented on #1467
A quick investigation looks like https://github.com/elastic/apm-integration-testing/pull/1459/ broke this use case; cc @kuisathaverat

Can we collect and summarize the most important commands somewhere? It is really hard to ensure no combinations of flags are broken while keeping everything up-to-date.

[2022-04-05 08:37] kuisathaverat commented on #1467
let's add the used flags, we do not have telemetry about the used flags, and we ask several times to know how users use the tool to know which flags are used without any success. Also since now is all configured through the APM integration some settings have changed.

@simitt  Is there a way to run APM standalone without Kibana? I mean, you need the APM integration but I dunno if there is a way to

[2022-04-05 10:28] dgieselaar commented on #1467
One workaround is to run kibana from APM IT on a different port than your local Kibana instance:

`/scripts/compose.py start main --kibana-port=6601 --elastic-agent-kibana-url=http://localhost:6601`

However, I'm worried that this would quickly create conflicts as two slightly different kibana versions will end up writing to the same indices. If there is such a conflict I'm not sure how to workaro

[2022-04-05 11:05] kuisathaverat commented on #1467
As a workaround, you can start the deployment with Kibana, when everything is up and running then stop Kibana, from this point you can start your local Kibana instance.

[code]

[2022-04-05 12:49] simitt commented on #1467
One can define the apm package in the Kibana configuration. As long as Kibana is running somewhere in the right version, and can connect to the same ES host, it will install apm assets on startup.
[code]

[2022-04-05 14:06] simitt commented on #1467
For the development case, developers could add that to their kibana config. But yes, when running managed apm-server, one needs to install the integration, and without Kibana/Fleet this gets messy.

[2022-04-05 14:15] dgieselaar commented on #1467
I think regardless of whether the integration is installed the APM Server container still exists when it cannot connect to Kibana. Or did I misunderstand?

[2022-04-05 15:22] kuisathaverat commented on #1467
managed is the configuration most of the users would use.

[2022-04-06 11:11] #1467 closed

[2022-05-16 19:05] trentm opened #1483 "apm-agent-nodejs integration tests are failing because of slow npm install from github"
"apm-agent-Node.js" builds of the "APM Integrfation Test MBP Selector" starting failing recently (in the past few days).

For example https://apm-ci.elastic.co/job/apm-integration-tests-selector-mbp/job/main/3832/

[code]

# repro and cause

The build includes `docker inspect ...` dumps for each of the containers in its artifacts. The failing container here is the "expressapp" container, failing w

[2022-05-16 20:15] #1483 closed

[2022-06-01 07:54] marclop opened #1490 "benchmarking: `--apm-server-record` flag has no effect"
## Description

The `--apm-server-record` flag has no effect any longer and it seems that we can't record the Opbeans events with the `intake-receiver` anymore for benchmark purposes.

I believe that we broke the flag after adding support for the APM Server in managed mode recently.

[2022-06-08 17:05] jasonrhodes commented on #1466
Ran into this myself today (also on M1). Noticed that some of the Dockerfile installation commands hard-code an amd64 requirement:
https://github.com/elastic/apm-integration-testing/blob/03c8818/docker/opbeans/rum/Dockerfile#L9

@kuisathaverat is looking into some of the arch issues here.

[2022-06-13 09:23] kuisathaverat commented on #1466
Long history short, there is no `google-chrome` Debian package for ARM, I am waiting for confirmation that we can change it to Chromium

[2022-06-13 17:51] kuisathaverat commented on #1452
`--apm-server-kibana-url=http://0.0.0.0:5603/foo` in managed mode is `--apm-managed-kibana-url=http://0.0.0.0:5603/foo`,  `--apm-server-managed ` is not needed.

[code]

The Elastic Agent and The APM server will use the Kibana instance passed as a parameter, but a Kibana instance is launched and stopped at the end of the start, this was the workaround we found to launch APM managed and configure i

[2022-06-13 17:52] #1452 closed

[2022-06-13 18:01] #1440 closed

[2022-06-13 18:02] kuisathaverat commented on #1440
It is alredy implemented

[2022-06-16 01:11] graphaelli opened #1494 "8.3 bc launch fails"
[code]

fails with:
[code]

this patch allows launching 8.3.0 BC
[code]
but I'm not sure if it's comprehensive and if the artifacts API structure differs between stack versions and needs to be accounted for

[2022-06-24 17:52] #1466 closed

[2022-07-18 16:05] odidev opened #1503 "Enable Testing for ARM64 platform"
Hi Team,

I am working with Elastic APM on the Linux ARM64 platform.

Although it seems currently testing for ARM64 is not included in the CI. Do you have any plan to include the ARM64 testing for Linux?
If interested there are machines hosted which provides arm64 support and can be used i.e. [works on arm](https://github.com/WorksOnArm).

Please share your views on the same. If required, I’ll be

[2022-07-18 16:09] v1v commented on #1503
Hey @odidev , if you would like to help with that's awesome, there are a few questions to answer regarding:
- when the ARM64 testing should run (always, on a PR basis, scheduled)?
- should it run to validate the APM Agents too (similarly done with https://github.com/elastic/apm-integration-testing/blob/main/.ci/integrationTestSelector.groovy?
- what would you like to run for testing on ARM64?

The

[2022-07-18 16:44] kuisathaverat commented on #1503
I recently fixed a couple of Docker images to run on Linux/arm64, I did not test all containers but the command `scripts/compose.py start 8.4.0-SNAPSHOT ---all-opbeans`  build/run the Stack and Opbeans on arm64 machines without issues, I think all the rest of containers must build on a arm64 machine, it is easy to test by running `.ci/scripts/all.sh` on a M1 machine, this will build all the Agents

[2022-07-28 06:56] odidev commented on #1503
It would be nice if ARM64 tests run along with X64 tests.

I would like to run ARM64 testing for all the tests running for X64 including this: https://github.com/elastic/apm-integration-testing/blob/main/.ci/integrationTestSelector.groovy

[2022-07-29 10:06] cachedout opened #1505 "ECK testing broken"
The ECK tests are failing with errors like the following:
<img width="1307" alt="Screenshot 2022-07-29 at 12 06 49" src="https://user-images.githubusercontent.com/111616/181736637-86388a72-1410-427e-b9b4-0aa7e73cca83.png">

[2022-07-29 10:09] kuisathaverat commented on #1505
It looks flaky, it is waiting for Elastic search up and running

[2022-07-29 10:26] cachedout commented on #1505
@kuisathaverat I'm not sure it's flaky. It has been failing for over two months.

[2022-07-29 10:42] kuisathaverat commented on #1505
I see, I will take a look, it is weird.

[2022-07-29 10:42] cachedout commented on #1505
@kuisathaverat Looks like [other steps failed as well](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-it-eck/detail/main/155/pipeline). Could it be that the new auth plugin is required now?

[2022-07-29 12:19] kuisathaverat commented on #1505
the oath message is a warning, it is already patched in the observability test environments, after 1.25 you need to install a plugin to authenticate

[2022-07-29 14:22] kuisathaverat commented on #1505
I am checking ES does not start

[2022-07-29 14:30] kuisathaverat commented on #1505
This was resolved in the past by ECK, I dunno why it comes back

[code]

[2022-07-29 15:56] #1505 closed

[2022-08-11 12:12] odidev commented on #1503
I’m trying to run the apm integration tests on Jenkins CI. I removed the `NOTIFY_TO` and `JOB_GCS_BUCKET` credentials defined under environment in [Jenkinsfile](https://github.com/elastic/apm-integration-testing/blob/main/.ci/Jenkinsfile). But on running the build in CI, all the stages are getting skipped and giving the following error:

[code]

Could you please have a look and share your suggesti

[2022-08-16 16:29] v1v commented on #1503
I guess, you are using your own Jenkins controller, if so, it won't work in your end, since it's not configured with the existing toolchain/credentials

If you follow the steps explained in https://github.com/elastic/apm-integration-testing/issues/1503#issuecomment-1187729835, does it work?

[2022-08-25 12:18] odidev commented on #1503
I tried running the script `.ci/script/all.sh` on Ubuntu Arm64 machine. While building the containers, wait-service container is giving the following error:

[code]
Also, I tried creating a container with `busybox` image as the wait-service container seems to be building one with the same and that container seems to be working fine.

Could you please have a look and share your suggestion on the sa

[2022-08-30 15:34] #1494 closed

[2022-09-05 20:41] #1443 closed

[2022-09-08 06:34] odidev commented on #1503
Hi @v1v, Could you please have a look at this and share your suggestion?

[2022-09-08 08:02] kuisathaverat commented on #1503
The containers are built. The error is related to one container with ID `49af1ccc1d2e`. `.ci/script/all.sh` run the Elastic Stack and all the Opbeans. To run this scenario, the host has to have Docker configured to use at least 8GB and 2 CPUs. To see the real issue the command `docker logs 49af1ccc1d2e` will give you the log output of the failed container, and `docker inspect 49af1ccc1d2e` will gi

[2022-09-12 08:07] axw opened #1523 "Remove agent tests"
The agent integration tests are of limited value. The tests are fairly basic, and we have since added fake APM Server implementations to the agent repos, which validate payloads.

The cost of maintaining the integration tests exceeds the value they are providing, therefore we should remove them. Later on we might replace them with something a little more maintainable. For example: disentangling st

[2022-09-16 07:08] odidev commented on #1503
Thanks @kuisathaverat, wait service issue is resolved now.

Currently I’m getting the following test failure on Ubuntu Arm64:
[code]

I checked the path `/usr/bin/chromium-browser` and chromium-browser is present there. Also, I checked the [troubleshooting.md file](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md) and upgraded the node version as suggested there.

Could you

[2022-09-27 00:53] #1523 closed

[2022-10-07 22:35] v1v commented on #1503
Hey @odidev , https://github.com/elastic/apm-integration-testing/pull/1524 removed all the tests in this project, thanks for investigating how to run on ARM64, much appreciated 🙏

If no other concerns, I'd say we can close this issue

[2022-10-11 10:35] odidev commented on #1503
@v1v, I have successfully tested unit tests by running the script `.ci/scripts/unit-tests.sh` on ARM64 after removing '-XX:UseAVX=2' from `ES_JAVA_OPTS` present [here](https://github.com/elastic/apm-integration-testing/blob/main/scripts/tests/config/test_start_main_default.yml#L101).

Are you interested in adding ARM64 job in CI for unit tests? If required, I am happy to contribute.

[2022-10-11 12:46] #1503 closed

[2022-10-18 08:55] cachedout commented on #1523
@axw Would you like us to also remove the test pipelines from Jenkins [which can be found here](https://apm-ci.elastic.co/job/apm-integration-tests/)?

[2022-10-24 02:08] axw commented on #1523
@cachedout yes, please - thank you.

[2022-10-25 09:13] cachedout commented on #1523
After looking at this, it makes more sense to leave the pipelines in place until such time that we choose to remove the repo entirely. I was going to kill the cron trigger so that we only ran this pipeline on pushes to the branch, but @kuisathaverat [beat me to it](https://github.com/elastic/apm-integration-testing/pull/1528)! I don't think we need any additional change here.

[2022-11-07 10:10] #1413 closed